Repository beyond-sw-camp/be06-fin-MINIONZ-CalIT, pull requests merged in 2024-09, with the labels that each got.

#72 [Feat] CHAT_001 - 채팅 참여 연관 관계 및 엔티티 추가
  backend/src/main/java/minionz/backend/chat_participation/model/ChatParticipation.java
Labels: 💙backend, ✨feat

#73 [Feat] 공통 타임스탬프 관리용 BaseEntity 구현
  backend/src/main/java/minionz/backend/common/BaseEntity.java
Labels: 💙backend, ✨feat

#103 [Feat] CORS 및 WebSocket 설정 추가
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/WebConfig.java
  backend/src/main/java/minionz/backend/config/WebSocketConfig.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#113 [Feat] 채팅 관련 관계 추가 #2
  .idea/.gitignore
  backend/.gitignore
  backend/src/main/java/minionz/backend/chat_room/model/ChatRoom.java
  backend/src/main/java/minionz/backend/message/model/Message.java
  backend/src/main/java/minionz/backend/message/model/MessageStatus.java
  backend/src/main/java/minionz/backend/message/model/MessageType.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#114 [Feat] ETC_001 - 워크스페이스 관련 엔터티 구현 [#74, #86, #92, #96]
  backend/src/main/java/minionz/backend/issue/model/Issue.java
  backend/src/main/java/minionz/backend/meeting/model/Meeting.java
  backend/src/main/java/minionz/backend/scrum/issue/model/Issue.java
  backend/src/main/java/minionz/backend/scrum/issue/model/IssueStatus.java
  backend/src/main/java/minionz/backend/scrum/issue_label/model/IssueLabel.java
  backend/src/main/java/minionz/backend/scrum/issue_label_select/model/IssueLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/issue_participation/model/IssueParticipation.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/Meeting.java
  backend/src/main/java/minionz/backend/scrum/meeting_participation/model/MeetingParticipation.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/Sprint.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/SprintStatus.java
  backend/src/main/java/minionz/backend/scrum/sprint_label/model/SprintLabel.java
  backend/src/main/java/minionz/backend/scrum/sprint_label_select/model/SprintLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/sprint_participation/model/SprintParticipation.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/model/WorkspaceParticipation.java
  backend/src/main/java/minionz/backend/sprint/model/Sprint.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/java/minionz/backend/workspace/model/WorkSpace.java
Labels: 💙backend, ✨feat

#115 [Feat] CHAT_001 - kafka Config 추가 [#2, #20]
  backend/src/main/java/minionz/backend/chat/chat_participation/model/ChatParticipation.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/ChatRoom.java
  backend/src/main/java/minionz/backend/chat/message/model/Message.java
  backend/src/main/java/minionz/backend/chat/message/model/MessageStatus.java
  backend/src/main/java/minionz/backend/chat/message/model/MessageType.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaConstants.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaConsumerConfig.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaProducerConfig.java
  backend/src/main/java/minionz/backend/config/web/WebConfig.java
  backend/src/main/java/minionz/backend/config/web/WebSocketConfig.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#116 [Feat] WORKSPACE_001 - 워크스페이스 생성 기능 구현 [#74]
  backend/src/main/java/minionz/backend/common/exception/BaseException.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponse.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseMessage.java
  backend/src/main/java/minionz/backend/scrum/issue/model/Issue.java
  backend/src/main/java/minionz/backend/scrum/issue_label/model/IssueLabel.java
  backend/src/main/java/minionz/backend/scrum/issue_label_select/model/IssueLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/issue_participation/model/IssueParticipation.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/Meeting.java
  backend/src/main/java/minionz/backend/scrum/meeting_participation/model/MeetingParticipation.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/Sprint.java
  backend/src/main/java/minionz/backend/scrum/sprint_label/model/SprintLabel.java
  backend/src/main/java/minionz/backend/scrum/sprint_label_select/model/SprintLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/sprint_participation/model/SprintParticipation.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/request/CreateWorkspaceRequest.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/WorkspaceParticipationRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/model/WorkspaceParticipation.java
Labels: 💙backend, ✨feat

#118 [Feat] 채팅 Request, Response 부분 구현 [#2, #20]
  backend/src/main/java/minionz/backend/chat/chat_room/model/request/CreateChatRoomRequest.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/CreateChatRoomResponse.java
  backend/src/main/java/minionz/backend/chat/message/model/request/MessageRequest.java
  backend/src/main/java/minionz/backend/chat/message/model/response/MessageResponse.java
Labels: 💙backend, ✨feat

#119 [Refactor] ETC_002 - 누락된 BaseResponseStatus 추가
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#120 [Feat] WORKSPACE_002 - 워크스페이스 조회 기능 구현 [#75]
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/response/ReadWorkspaceResponse.java
Labels: 💙backend, ✨feat

#125 [Feat] WORKSPACE_005, WORKSPACE_009 - 스프린트 라벨 및 태스크 라벨 생성 기능 구현 [#78, #82]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/error_board/model/ErrorBoard.java
  backend/src/main/java/minionz/backend/error_comment/model/ErrorComment.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelService.java
  backend/src/main/java/minionz/backend/scrum/label/SprintLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/TaskLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/model/SprintLabel.java
  backend/src/main/java/minionz/backend/scrum/label/model/TaskLabel.java
  backend/src/main/java/minionz/backend/scrum/label/model/request/CreateLabelRequest.java
  backend/src/main/java/minionz/backend/scrum/sprint_label_select/model/SprintLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/task_label_select/model/TaskLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/WorkspaceParticipationRepository.java
Labels: 💙backend, ✨feat

#126 [Feat] WORKSPACE_006, WORKSPACE_010 - 스프린트 라벨 및 태스크 라벨 조회 기능 구현 [#79, #83]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelService.java
  backend/src/main/java/minionz/backend/scrum/label/SprintLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/TaskLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/model/SprintLabel.java
  backend/src/main/java/minionz/backend/scrum/label/model/TaskLabel.java
  backend/src/main/java/minionz/backend/scrum/label/model/response/ReadLabelResponse.java
  backend/src/main/java/minionz/backend/scrum/label_select/SprintLabelSelectRepository.java
  backend/src/main/java/minionz/backend/scrum/label_select/TaskLabelSelectRepository.java
  backend/src/main/java/minionz/backend/scrum/label_select/model/SprintLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/label_select/model/TaskLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/Sprint.java
  backend/src/main/java/minionz/backend/scrum/task/model/Task.java
Labels: 💙backend, ✨feat

#127 [Feat] SPRINT_001 - 스프린트 생성 기능 구현 [#86]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/label/LabelService.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintRepository.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/request/CreateSprintRequest.java
  backend/src/main/java/minionz/backend/scrum/sprint_participation/SprintParticipationRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/WorkspaceParticipationRepository.java
Labels: 💙backend, ✨feat

#128 [Feat] ERR_BOARD_002 - 에러게시글 조회 기능 구현 [#21]
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardController.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardImageRepository.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardRepository.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardService.java
  backend/src/main/java/minionz/backend/board/error_board/model/ErrorBoard.java
  backend/src/main/java/minionz/backend/board/error_board/model/ErrorBoardCategory.java
  backend/src/main/java/minionz/backend/board/error_board/model/ErrorBoardImage.java
  backend/src/main/java/minionz/backend/board/error_board/model/request/CreateErrorBoardRequest.java
  backend/src/main/java/minionz/backend/board/error_board/model/response/CreateErrorBoardResponse.java
  backend/src/main/java/minionz/backend/board/error_board/model/response/GetErrorBoardImageResponse.java
  backend/src/main/java/minionz/backend/board/error_board/model/response/GetErrorBoardResponse.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentController.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentImageRepository.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentService.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommnetRepository.java
  backend/src/main/java/minionz/backend/board/error_comment/model/ErrorComment.java
  backend/src/main/java/minionz/backend/board/error_comment/model/ErrorCommentImage.java
  backend/src/main/java/minionz/backend/board/error_comment/model/request/CreateErrorCommentRequest.java
  backend/src/main/java/minionz/backend/board/error_comment/model/response/CreateErrorCommentResponse.java
  backend/src/main/java/minionz/backend/board/error_comment/model/response/GetErrorCommentImageResponse.java
  backend/src/main/java/minionz/backend/board/error_comment/model/response/GetErrorCommentResponse.java
  backend/src/main/java/minionz/backend/board/qa_board/model/QaBoard.java
  backend/src/main/java/minionz/backend/board/qa_comment/model/QaComment.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/error_board/ErrorBoardController.java
  backend/src/main/java/minionz/backend/error_board/ErrorBoardRepository.java
  backend/src/main/java/minionz/backend/error_board/ErrorBoardService.java
  backend/src/main/java/minionz/backend/error_comment/ErrorCommentController.java
  backend/src/main/java/minionz/backend/error_comment/ErrorCommentService.java
  backend/src/main/java/minionz/backend/error_comment/ErrorCommnetRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/user/model/User.java
Labels: 💙backend, ✨feat

#130 [Feat] USER_001 - 회원가입 기능 구현 [#4]
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/user/UserController.java
  backend/src/main/java/minionz/backend/user/UserRepository.java
  backend/src/main/java/minionz/backend/user/UserService.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/java/minionz/backend/user/model/request/CreateUserRequest.java
  backend/src/main/java/minionz/backend/user/model/response/CreateUserResponse.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#131 [Feat] USER_002 - 이메일 인증 기능 [#6]
  backend/src/main/java/minionz/backend/user/EmailVerifyRepository.java
  backend/src/main/java/minionz/backend/user/EmailVerifyService.java
  backend/src/main/java/minionz/backend/user/model/EmailVerify.java
  backend/src/main/java/minionz/backend/user/model/request/EmailVerifyRequest.java
Labels: 💙backend, ✨feat

#132 [Feat] USER_003 - 일반 로그인 기능 [#14]
  backend/src/main/java/minionz/backend/Utils/JwtUtil.java
  backend/src/main/java/minionz/backend/config/filter/ExceptionFilter.java
  backend/src/main/java/minionz/backend/config/filter/JwtFilter.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/user/CustomUserDetailService.java
  backend/src/main/java/minionz/backend/user/VerificationTokenRepository.java
  backend/src/main/java/minionz/backend/user/model/CustomSecurityUserDetails.java
  backend/src/main/java/minionz/backend/user/model/JwtResponse.java
  backend/src/main/java/minionz/backend/user/model/VerificationToken.java
  backend/src/main/java/minionz/backend/user/model/request/LoginUserRequest.java
  backend/src/main/java/minionz/backend/user/model/request/UuidRequest.java
  backend/src/main/java/minionz/backend/user/model/request/VerificationCodeRequest.java
  backend/src/main/java/minionz/backend/user/model/response/LoginUserResponse.java
Labels: 💙backend, ✨feat

#133 [Feat] SPRINT_002, SPRINT_003 - 스프린트 단일 조회 및 목록 조회 기능 구현 [#87, #88]
  backend/src/main/java/minionz/backend/Utils/JwtUtil.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/JwtFilter.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintRepository.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/Label.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/Participant.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/ReadAllSprintResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/ReadSprintResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint_participation/SprintParticipationRepository.java
  backend/src/main/java/minionz/backend/user/UserController.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#134 [Feat] CHATTING 채팅 페이지 마크업 구현 [#56]
  frontend/src/App.vue
  frontend/src/assets/icon/chatIcon/clip.svg
  frontend/src/assets/icon/chatIcon/code.svg
  frontend/src/assets/icon/chatIcon/docs.svg
  frontend/src/assets/icon/chatIcon/download.svg
  frontend/src/assets/icon/chatIcon/img.svg
  frontend/src/assets/icon/chatIcon/pdf.svg
  frontend/src/assets/icon/chatIcon/sendIcon.svg
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/ContentsArea.vue
  frontend/src/layouts/ContentsContainer.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/view/chat/ChatRoom.vue
  frontend/src/view/chat/component/ChatComponent.vue
  frontend/src/view/chat/component/ChatMessage.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/chat/component/FileList.vue
  frontend/src/view/scrum/create/IssueCreate 2.vue
  frontend/src/view/scrum/create/SprintCreate 2.vue
  frontend/src/view/scrum/create/WorkSpaceCreate 2.vue
  frontend/src/view/scrum/list/LabelList 2.vue
  frontend/src/view/scrum/list/SprintList 2.vue
Labels: 💛frontend, ✨feat

#135 [Chore] ETC - Docker-compose 구현
  backend/docker-compose.yml
Labels: 💙backend

#136 [Feat] TASK_001 - 태스크 생성 기능 구현 [#96]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/sprint_participation/SprintParticipationRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/Task.java
  backend/src/main/java/minionz/backend/scrum/task/model/TaskLevel.java
  backend/src/main/java/minionz/backend/scrum/task/model/request/CreateTaskRequest.java
  backend/src/main/java/minionz/backend/scrum/task_participation/TaskParticipationRepository.java
Labels: 💙backend, ✨feat

#138 [Feat] TASK_002- 태스크 조회 기능 [#97]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/response/ReadTaskResponse.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/response/ReadWorkspaceResponse.java
Labels: 💙backend, ✨feat

#140 [Feat] TASK_003 - 태스크 목록 조회 기능 구현 [#98]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/response/ReadAllTaskResponse.java
Labels: 💙backend, ✨feat

#141 [Feat] ETC_001 그룹 아이디 환경 변수 처리
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#142 [Feat] MEETING_001 - 회의 생성 기능 구현 [#92]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingService.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/request/CreateMeetingRequest.java
  backend/src/main/java/minionz/backend/scrum/meeting_participation/MeetingParticipationRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/request/CreateTaskRequest.java
Labels: 💙backend, ✨feat

#143 [Feat] MEETING_002 - 회의 단일 조회 기능 구현 [#93]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingService.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/ReadMeetingResponse.java
Labels: 💙backend, ✨feat

#145 [Feat] ISSUE_001 - 이슈 생성 기능 구현 [#144]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueController.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueRepository.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueService.java
  backend/src/main/java/minionz/backend/scrum/issue/model/Issue.java
  backend/src/main/java/minionz/backend/scrum/issue/model/request/CreateIssueRequest.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/user/model/User.java
Labels: 💙backend, ✨feat

#146 [Feat] CHATTING 채팅방 생성 모달 페이지 마크업 구현 [#57]
  frontend/src/assets/icon/etc/persona.svg
  frontend/src/layouts/ContentsArea.vue
  frontend/src/layouts/ContentsContainer.vue
  frontend/src/layouts/component/WorkspaceModal.vue
  frontend/src/view/chat/ChatRoom.vue
  frontend/src/view/chat/component/ChatComponent.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/chat/component/FileList.vue
  frontend/src/view/chat/component/FriendsModal.vue
  frontend/src/view/user/UserTemplate.vue
  frontend/src/view/user/component/SocialLogin.vue
  frontend/src/view/user/pages/LoginPage.vue
  frontend/src/view/user/pages/SignupPage.vue
Labels: 💛frontend, ✨feat

#147 [Feat] SPRINT_005, TASK_005 - 스프린트 및 태스크 상태 변경 기능 구현 [#100, #90]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/request/UpdateSprintStatusRequest.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/request/UpdateTaskStatusRequest.java
Labels: 💙backend, ✨feat

#149 [Feat] USER_008,CHAT_005 JWT필터,유틸 수정 및 채팅 보내기 기능 구현 [#148,#20]
  backend/src/main/java/minionz/backend/chat/chat_participation/ChatParticipationRepository.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/chat/message/model/Message.java
  backend/src/main/java/minionz/backend/chat/message/model/request/MessageRequest.java
  backend/src/main/java/minionz/backend/chat/message/model/request/PrivateMessageRequest.java
  backend/src/main/java/minionz/backend/chat/message/model/response/PrivateMessageResponse.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/filter/JwtFilter.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
Labels: 💙backend, ✨feat

#151 [Feat] CHAT_005,011 - 메세지 및 파일 전송 구현 [#20,#150]
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/chat/message/model/request/MessageRequest.java
Labels: 💙backend, ✨feat

#152 [Feat] KANBAN_001, KANBAN_002 - 칸반 조회 기능 구현 [#102, #104]
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/task/model/response/ReadAllTaskResponse.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
Labels: 💙backend, ✨feat

#153 [Fix] CHAT_001,005,006 - 채팅방에 본인 id 추가 [#2,#20,#22]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
Labels: 💙backend, ✨feat

#154 [Feat] SCHEDULE_001, SCHEDULE_003 - 워크스페이스 월별 캘린더 조회 기능 및 개인 월별 캘린더 조회 기능 구현 [#105, #107]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleController.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleService.java
  backend/src/main/java/minionz/backend/scrum/schedule/request/ReadScheduleRequest.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/MeetingResponse.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/ReadMonthlyResponse.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/SprintResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintRepository.java
Labels: 💙backend, ✨feat

#155 [Fix] CHAT_003 - 읽지 않은 메세지, 최신 메세지 받아오는 값 수정 [#11]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/message/MessageRepository.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
Labels: 💙backend, ✨feat

#156 [Feat] SCHEDULE_002, SCHEDULE_004 - 워크스페이스 주별 캘린더 조회 기능 및 개인 주별 캘린더 조회 기능 구현 [#106, #108]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleController.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleService.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/IssueResponse.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/ReadWeeklyResponse.java
  backend/src/main/java/minionz/backend/scrum/schedule/response/TaskResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
Labels: 💙backend, ✨feat

#157 [Feat] Task_001 개인 태스크 칸반보드, 리스트 페이지, 워크스페이스 태스크 칸반보드, 리스트 페이지 [#57]
  frontend/src/assets/icon/etc/kanban.svg
  frontend/src/assets/icon/menu/kanban.svg
  frontend/src/assets/icon/menu/list.svg
  frontend/src/assets/icon/menu/task.svg
  frontend/src/assets/icon/menu/timeline.svg
  frontend/src/layouts/component/PersonalMenu.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/services/index 2.js
  frontend/src/view/scrum/Task/TaskTemplate.vue
  frontend/src/view/scrum/Task/component/AvatarGroup.vue
  frontend/src/view/scrum/Task/component/TaskViewBar.vue
  frontend/src/view/scrum/Task/kanban/MyTaskKanban.vue
  frontend/src/view/scrum/Task/kanban/PersonalKanban.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceKanban.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanban.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn.vue
  frontend/src/view/scrum/Task/list/MyTaskList.vue
  frontend/src/view/scrum/Task/list/PersonalList.vue
  frontend/src/view/scrum/Task/list/WorkSpaceList.vue
  frontend/src/view/scrum/Task/list/WorkSpaceTaskList.vue
  frontend/src/view/scrum/Task/list/component/ListContainer.vue
  frontend/src/view/scrum/Task/list/component/ListItem.vue
  frontend/src/view/scrum/meeting/IssueCreate 2.vue
  frontend/src/view/scrum/meeting/MeetingDetail 2.vue
  frontend/src/view/scrum/meeting/MeetingEdit 2.vue
  frontend/src/view/scrum/meeting/MeetingList 2.vue
Labels: 💛frontend, ✨feat

#160 Backend/feature/social login
  backend/.DS_Store
  backend/build.gradle
  backend/src/.DS_Store
  backend/src/main/.DS_Store
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmRepository.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/request/CreateAlarmRequest.java
  backend/src/main/java/minionz/backend/alarm/model/request/DeleteAlarmRequest.java
  backend/src/main/java/minionz/backend/alarm/model/response/CreateAlarmResponse.java
  backend/src/main/java/minionz/backend/alarm/model/response/DeleteAlarmResponse.java
  backend/src/main/java/minionz/backend/alarm/model/response/ReadAlarmResponse.java
  backend/src/main/java/minionz/backend/common/BaseEntity.java
  backend/src/main/java/minionz/backend/common/exception/BaseException.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/ExceptionFilter.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/minionz/backend/user/CustomOauth2UserService.java
  backend/src/main/java/minionz/backend/user/EmailVerifyRepository.java
  backend/src/main/java/minionz/backend/user/EmailVerifyService.java
  backend/src/main/java/minionz/backend/user/NaverUserDetails.java
  backend/src/main/java/minionz/backend/user/UserController.java
  backend/src/main/java/minionz/backend/user/UserService.java
  backend/src/main/java/minionz/backend/user/model/CustomOauth2UserDetails.java
  backend/src/main/java/minionz/backend/user/model/EmailVerify.java
  backend/src/main/java/minionz/backend/user/model/GoogleUserDetails.java
  backend/src/main/java/minionz/backend/user/model/KakaoUserDetails.java
  backend/src/main/java/minionz/backend/user/model/OAuth2UserInfo.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/java/minionz/backend/user/model/request/CreateUserRequest.java
  backend/src/main/java/minionz/backend/user/model/request/DeleteUserRequest.java
  backend/src/main/java/minionz/backend/user/model/request/EmailVerifyRequest.java
  backend/src/main/java/minionz/backend/user/model/request/UpdateUserRequest.java
  backend/src/main/java/minionz/backend/user/model/response/CreateUserResponse.java
  backend/src/main/java/minionz/backend/user/model/response/DeleteuserResponse.java
  backend/src/main/java/minionz/backend/user/model/response/GoogleUserDetails.java
  backend/src/main/java/minionz/backend/user/model/response/ReadUserResponse.java
  backend/src/main/java/minionz/backend/user/model/response/UpdateUserResponse.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
  backend/src/main/resources/.DS_Store
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#161 [Feat] DASHBOARD_002 - 개인 대시보드 조회 기능 구현 [#110]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardService.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/request/ReadMyDashboardRequest.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/PriorityTaskResponse.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/ProgressResponse.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/ReadMyDashboardResponse.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/UpcomingMyMeetingResponse.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceRepository.java
Labels: 💙backend, ✨feat

#162 [Feat] CHAT_001,005,006 - WebSocket 메세징 처리로 전체 변경 [#2, #20, #22]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/request/CreatePersonalChatRoomRequest.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/CreatePersonalChatRoomResponse.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/chat/message/model/request/MessageRequest.java
  backend/src/main/java/minionz/backend/chat/message/model/response/MessageResponse.java
Labels: 💙backend, ✨feat

#164 [Fix] CHAT_005,006 - 파일 전송 환경 변경 [#20, #22]
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
Labels: 💙backend, ✨feat

#166 [Feat] Chatting_001 채팅 백엔드 연동 [#56]
  frontend/src/services/websocketService.js
  frontend/src/store/socket/chat/useChatMessageStore.js
  frontend/src/view/chat/component/ChatComponent.vue
Labels: 💛frontend

#167 [Feat] DASHBOARD_001 - 번다운 차트 기능 구현 [#109]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardService.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/BurnTaskResponse.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/ReadBurndownResponse.java
Labels: 💙backend, ✨feat

#168 [Refactor] chat 라우터 path 수정
  frontend/src/router/index.js
Labels: 💛frontend, ❤️‍🔥fix

#171 [Fix] CHAT_005,006 - 모든 도메인 접근 허용 [#20, #22]
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/web/WebSocketConfig.java
Labels: 💙backend, ❤️‍🔥fix

#172 [Feat] CHAT_007 - 채팅 내역 조회 기능 [#25]
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/ReadMessageResponse.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageRepository.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#173 [Feat] CHAT_008 - 채팅 수정 기능 구현 [#26]
  backend/src/main/java/minionz/backend/chat/chat_participation/ChatParticipationRepository.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/ReadMessageResponse.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageRepository.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/chat/message/model/request/FileInfo.java
  backend/src/main/java/minionz/backend/chat/message/model/request/SendMessageRequest.java
  backend/src/main/java/minionz/backend/chat/message/model/request/UpdateMessageRequest.java
Labels: 💙backend, ✨feat

#174 [Feat] CHAT_001,009 - 채팅 삭제 기능 구현 및 채팅방 생성 수정 [#2, #27]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/ReadChatRoomResponse.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageRepository.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat, ❤️‍🔥fix

#175 [Feat] ALARM_001, ALARM_002 - 알림 생성 및 조회 기능 구현 [#28, #32]
  backend/build.gradle
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmRepository.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/Alarm.java
  backend/src/main/java/minionz/backend/user/TestController.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/java/minionz/backend/user_alarm/UserAlarmRepository.java
  backend/src/main/java/minionz/backend/user_alarm/model/UserAlarm.java
Labels: 💙backend, ✨feat

#176 [Fix] CHAT_005,006 - 본인이 보낸 채팅을 확인 [#20, #22]
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/ReadMessageResponse.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
Labels: 💙backend, ❤️‍🔥fix

#177 [Feat] Chatting_001 채팅 백엔드 연동을 위한 셋팅 [#56]
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/assets/img/chatNoData.svg
  frontend/src/assets/img/favicon.ico
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/component/Modal/NotificationModal.vue
  frontend/src/layouts/component/Modal/WorkspaceModal.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/static/chatData.js
  frontend/src/static/index 2.js
  frontend/src/static/index.js
  frontend/src/static/workspaceData.js
  frontend/src/store/friends/useFriendsStore.js
  frontend/src/store/socket/chat/useChatRoomStore.js
  frontend/src/view/chat/ChatInitialPage.vue
  frontend/src/view/chat/ChatRoomPage.vue
  frontend/src/view/chat/component/ChatComponent.vue
  frontend/src/view/chat/component/ChatMessage.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/chat/component/FileList.vue
  frontend/src/view/dashboard/WorkspaceDashBoard.vue
  frontend/src/view/scrum/Task/TaskTemplate 2.vue
  frontend/src/view/scrum/Task/timeline/TimeLine.vue
  frontend/src/view/scrum/Task/timeline/vue-draggable-resizable.css
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 💛frontend, ✨feat

#179 [Feat] CHAT_004 - 채팅방 수정 기능 구현 [#18]
  backend/src/main/java/minionz/backend/chat/chat_participation/ChatParticipationRepository.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/request/UpdateChatRoomRequest.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#180 [Feat] CHAT_002 - 채팅방 나가기 기능 구현 [#8]
  backend/src/main/java/minionz/backend/chat/chat_participation/ChatParticipationRepository.java
  backend/src/main/java/minionz/backend/chat/chat_participation/model/ChatParticipation.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#182 [Feat] CHAT_012 - 메세지 상태 값 변경 기능 [#181]
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageRepository.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#183 [Feat] CHAT_010 - 채팅 대상 검색 기능 구현 [#31]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomRepository.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/request/SearchChatRoomRequest.java
  backend/src/main/java/minionz/backend/chat/chat_room/model/response/SearchChatRoomResponse.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#184 [Feat] BOARD_001,002,003 QA 보드 리스트, 회의 상세 조회, 회의 생성 페이지 [#65, #66, #67]
  frontend/src/assets/icon/boardIcon/boardComment.svg
  frontend/src/assets/icon/boardIcon/boardDelete.svg
  frontend/src/assets/icon/boardIcon/boardEdit.svg
  frontend/src/assets/icon/boardIcon/quillEditor.svg
  frontend/src/assets/icon/chatIcon/clip 2.svg
  frontend/src/assets/icon/chatIcon/code 2.svg
  frontend/src/assets/icon/chatIcon/docs 2.svg
  frontend/src/assets/icon/chatIcon/download 2.svg
  frontend/src/assets/icon/chatIcon/img 2.svg
  frontend/src/assets/icon/chatIcon/pdf 2.svg
  frontend/src/assets/icon/chatIcon/sendIcon 2.svg
  frontend/src/assets/icon/etc/kanban 2.svg
  frontend/src/assets/icon/etc/persona 2.svg
  frontend/src/assets/icon/menu/kanban 3.svg
  frontend/src/assets/icon/menu/kanban 4.svg
  frontend/src/assets/icon/menu/list 3.svg
  frontend/src/assets/icon/menu/list 4.svg
  frontend/src/assets/icon/menu/timeline 3.svg
  frontend/src/assets/icon/menu/timeline 4.svg
  frontend/src/common/component/PaginationComponent.vue
  frontend/src/common/component/SearchComponent.vue
  frontend/src/layouts/component/Modal/NotificationModal 2.vue
  frontend/src/layouts/component/Modal/WorkspaceModal 2.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/static/index 2.js
  frontend/src/static/qaListData.js
  frontend/src/view/board/component/BoardDetail.vue
  frontend/src/view/board/component/BoardList.vue
  frontend/src/view/board/component/DateComment.vue
  frontend/src/view/board/component/PostComment.vue
  frontend/src/view/board/create/BoardCreate.vue
  frontend/src/view/board/create/QACreate.vue
  frontend/src/view/board/detail/BoardDetail.vue
  frontend/src/view/board/detail/QADetail.vue
  frontend/src/view/board/list/QAList.vue
  frontend/src/view/chat/ChatInitialPage 2.vue
  frontend/src/view/chat/ChatRoomPage 2.vue
  frontend/src/view/chat/component/ChatComponent 2.vue
  frontend/src/view/chat/component/ChatMessage 2.vue
  frontend/src/view/chat/component/ChatRoomComponent 2.vue
  frontend/src/view/scrum/Task/TaskTemplate 2.vue
  frontend/src/view/scrum/Task/component/AvatarGroup 2.vue
  frontend/src/view/scrum/Task/component/TaskViewBar 2.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard 3.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard 4.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn 3.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn 4.vue
  frontend/src/view/scrum/Task/list/component/ListContainer 3.vue
  frontend/src/view/scrum/Task/list/component/ListContainer 4.vue
  frontend/src/view/scrum/Task/list/component/ListItem 3.vue
  frontend/src/view/scrum/Task/list/component/ListItem 4.vue
  frontend/src/view/scrum/Task/timeline/vue-draggable-resizable 2.css
  frontend/src/view/scrum/meeting/component/MeetingCard 2.vue
Labels: 💛frontend, ✨feat

#185 [Feat] FE_ERR_BOARD001,002,003 Error create, list, detail 페이지
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/static/errorListData.js
  frontend/src/view/board/create/ErrorCreate.vue
  frontend/src/view/board/detail/ErrorDetail.vue
  frontend/src/view/board/list/ErrorList.vue
Labels: 💛frontend, ✨feat

#186 [Feat] FE_ALERT_001 알림 모달 마크업
  frontend/src/assets/icon/alarm/notification.svg
  frontend/src/assets/icon/chatIcon/clip 2.svg
  frontend/src/assets/icon/chatIcon/code 2.svg
  frontend/src/assets/icon/chatIcon/docs 2.svg
  frontend/src/assets/icon/chatIcon/download 2.svg
  frontend/src/assets/icon/chatIcon/img 2.svg
  frontend/src/assets/icon/chatIcon/pdf 2.svg
  frontend/src/assets/icon/chatIcon/sendIcon 2.svg
  frontend/src/assets/icon/etc/cancel.svg
  frontend/src/assets/icon/etc/kanban 2.svg
  frontend/src/assets/icon/etc/persona 2.svg
  frontend/src/assets/icon/menu/kanban 2.svg
  frontend/src/assets/icon/menu/kanban 3.svg
  frontend/src/assets/icon/menu/kanban 4.svg
  frontend/src/assets/icon/menu/list 2.svg
  frontend/src/assets/icon/menu/list 3.svg
  frontend/src/assets/icon/menu/list 4.svg
  frontend/src/assets/icon/menu/timeline 2.svg
  frontend/src/assets/icon/menu/timeline 3.svg
  frontend/src/assets/icon/menu/timeline 4.svg
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/component/Modal/AlarmModal.vue
  frontend/src/layouts/component/Modal/NotificationModal 2.vue
  frontend/src/layouts/component/Modal/NotificationModal.vue
  frontend/src/layouts/component/Modal/WorkspaceModal 2.vue
  frontend/src/layouts/component/Modal/WorkspaceModal.vue
  frontend/src/services/websocketService.js
  frontend/src/static/alarmData.js
  frontend/src/store/socket/useAlamStore.js
  frontend/src/store/socket/useNotifyStore.js
  frontend/src/view/user/pages/LoginPage.vue
Labels: 💛frontend, ✨feat

#189 [Refactor] 프론트 로그인 로직 수정 및 백엔드 연동 완료 #10
  backend/docker-compose.yml
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/resources/application.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon/menu/chat.svg
  frontend/src/assets/style/styles.css
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/Modal/AlarmModal.vue
  frontend/src/layouts/component/Modal/ChatModal.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/services/websocketService.js
  frontend/src/store/friends/useFriendsStore.js
  frontend/src/store/index.js
  frontend/src/store/socket/chat/useChatMessageStore.js
  frontend/src/store/socket/chat/useChatRoomCreateStore.js
  frontend/src/store/socket/chat/useChatRoomStore.js
  frontend/src/store/socket/useAlamStore.js
  frontend/src/store/socket/useDocsEditStore.js
  frontend/src/stores/index.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/view/chat/component/ChatRoomComponent 2.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/user/component/SocialLogin.vue
  frontend/src/view/user/pages/LoginPage.vue
  frontend/vue.config.js
  frontend/yarn.lock
Labels: 💛frontend, ✨feat

#190 [Refactor] 회원가입 기능 백엔드 연동
  frontend/package.json
  frontend/src/assets/icon/etc/cancel.svg
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/Modal/AlarmModal.vue
  frontend/src/layouts/component/Modal/ChatModal.vue
  frontend/src/layouts/component/Modal/WorkspaceModal.vue
  frontend/src/layouts/component/PersonalMenu.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/services/websocketService.js
  frontend/src/static/chatData.js
  frontend/src/store/index.js
  frontend/src/stores/friends/useFriendsStore.js
  frontend/src/stores/socket/chat/useChatMessageStore.js
  frontend/src/stores/socket/chat/useChatRoomCreateStore.js
  frontend/src/stores/socket/chat/useChatRoomStore.js
  frontend/src/stores/socket/useAlamStore.js
  frontend/src/stores/socket/useDocsEditStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/timeUtils.js
  frontend/src/view/chat/ChatInitialPage 2.vue
  frontend/src/view/chat/ChatRoomPage 2.vue
  frontend/src/view/chat/component/ChatComponent 2.vue
  frontend/src/view/chat/component/ChatMessage 2.vue
  frontend/src/view/chat/component/ChatRoomComponent 2.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/dashboard/WorkspaceDashBoard.vue
  frontend/src/view/user/pages/SignupPage.vue
  frontend/yarn.lock
Labels: 💛frontend, ✨feat

#191 [Refactor] 알림 기능 수정, 레이아웃 워크스페이스 전역 설정 #28 #32
  frontend/src/assets/icon/alarm/info.svg
  frontend/src/assets/icon/menu/chat.svg
  frontend/src/layouts/BasicLayout.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/Modal/AlarmModal.vue
  frontend/src/layouts/component/Modal/ChatModal.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/router/index.js
  frontend/src/static/alarmData.js
  frontend/src/static/workspaceData.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/view/user/pages/LoginPage.vue
  frontend/src/view/user/pages/SignupPage.vue
Labels: 💛frontend, ✨feat

#192 [Feat] PROCEEDINGS_001 - 회의록 작성 기능 구현 [#1]
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardController.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardService.java
  backend/src/main/java/minionz/backend/board/error_board/model/request/CreateErrorBoardRequest.java
  backend/src/main/java/minionz/backend/board/error_board/model/response/CreateErrorBoardResponse.java
  backend/src/main/java/minionz/backend/board/error_board/model/response/GetErrorBoardResponse.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentController.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentService.java
  backend/src/main/java/minionz/backend/board/error_comment/model/response/CreateErrorCommentResponse.java
  backend/src/main/java/minionz/backend/board/error_comment/model/response/GetErrorCommentResponse.java
  backend/src/main/java/minionz/backend/board/qa_board/QaBoardController.java
  backend/src/main/java/minionz/backend/board/qa_board/QaBoardService.java
  backend/src/main/java/minionz/backend/board/qa_board/model/request/CreateQaBoardRequest.java
  backend/src/main/java/minionz/backend/board/qa_board/model/response/CreateQaBoardResponse.java
  backend/src/main/java/minionz/backend/board/qa_board/model/response/GetQaBoardResponse.java
  backend/src/main/java/minionz/backend/board/qa_comment/QaCommentController.java
  backend/src/main/java/minionz/backend/board/qa_comment/QaCommentService.java
  backend/src/main/java/minionz/backend/board/qa_comment/model/response/CreateQaCommentResponse.java
  backend/src/main/java/minionz/backend/board/qa_comment/model/response/GetQaCommentResponse.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/web/WebSocketConfig.java
  backend/src/main/java/minionz/backend/note/NoteContentController.java
  backend/src/main/java/minionz/backend/note/NoteController.java
  backend/src/main/java/minionz/backend/note/NoteImageRepository.java
  backend/src/main/java/minionz/backend/note/NoteRepository.java
  backend/src/main/java/minionz/backend/note/NoteService.java
  backend/src/main/java/minionz/backend/note/model/Note.java
  backend/src/main/java/minionz/backend/note/model/NoteImage.java
  backend/src/main/java/minionz/backend/note/model/NoteMessage.java
  backend/src/main/java/minionz/backend/note/model/request/CreateNoteRequest.java
  backend/src/main/java/minionz/backend/note/model/response/CreateNoteResponse.java
  backend/src/main/java/minionz/backend/note/model/response/GetNoteImageResponse.java
  backend/src/main/java/minionz/backend/note/model/response/GetNoteResponse.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelService.java
  backend/src/main/java/minionz/backend/scrum/label/NoteLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/model/NoteLabel.java
  backend/src/main/java/minionz/backend/scrum/label_select/NoteLabelSelectRepository.java
  backend/src/main/java/minionz/backend/scrum/label_select/model/NoteLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/meeting_participation/MeetingParticipationRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting_participation/model/MeetingParticipation.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/user/model/CustomSecurityUserDetails.java
Labels: 💙backend, ✨feat

#193 [Refactor] 회의 추가 시 부가 속성(참여자, 라벨, 태스크, 이슈) 추가 기능
  frontend/src/common/component/Editor/QuillEditor.vue
  frontend/src/layouts/component/NotificationModal.vue
  frontend/src/layouts/component/WorkspaceModal.vue
  frontend/src/services/websocketService.js
  frontend/src/static/labelData.js
  frontend/src/static/userData.js
  frontend/src/stores/scrum/useLabelStore.js
  frontend/src/stores/socket/useAlarmStore.js
  frontend/src/stores/user/useParticipantsStore.js
  frontend/src/utils/labelUtils.js
  frontend/src/view/chat/component/ChatComponent.vue
  frontend/src/view/chat/component/FriendsModal.vue
  frontend/src/view/scrum/Task/TaskTemplate 2.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard 2.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard 3.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard 4.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn 2.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn 3.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanColumn 4.vue
  frontend/src/view/scrum/meeting/MeetingCreate.vue
  frontend/src/view/scrum/meeting/MeetingEdit.vue
  frontend/src/view/scrum/meeting/component/MeetingCard 2.vue
  frontend/src/view/scrum/meeting/component/RightSide/RightSideComponent.vue
  frontend/src/view/scrum/meeting/component/RightSide/RightSideLabel.vue
  frontend/src/view/scrum/meeting/component/RightSide/RightSideParticipants.vue
Labels: 💛frontend, ✨feat

#194 [Refactor] CHAT_003,005 - 메세지 전송 DTO 변경 및 cors 처리 [#11, #20]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/model/request/SendMessageRequest.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/web/WebConfig.java
Labels: 💙backend, ❤️‍🔥fix

#195 [Feat] USER_008 - 권한 설정 구현 [#169]
  backend/src/main/java/minionz/backend/common/responses/ErrorResponse.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/GlobalExceptionHandler.java
  backend/src/main/java/minionz/backend/config/filter/JwtAccessDeniedHandler.java
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelService.java
  backend/src/main/java/minionz/backend/scrum/label/SprintLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/label/TaskLabelRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/WorkspaceParticipationRepository.java
  backend/src/main/java/minionz/backend/user/CustomUserDetailService.java
  backend/src/main/java/minionz/backend/user/UserRepository.java
  backend/src/main/java/minionz/backend/user/model/CustomSecurityUserDetails.java
  backend/src/main/java/minionz/backend/user/model/User.java
Labels: 💙backend, ✨feat

#197 [Feat] K8S_CICD_001 - CI/CD 파이프라인 및 Kubernetes 배포 설정 구현 [#196]
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
  cicd/k8s-backend.yml
  cicd/k8s-frontend.yml
Labels: ✨feat, 🔍ci/cd, 💦K8S

#198 [REFACTOR] ETC_001 - BaseResponse 수정
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/user/UserController.java
  backend/src/main/java/minionz/backend/user/UserService.java
Labels: 💙backend, ⛓️‍💥refactor

#201 [Feat] CHAT_013,014 - 채팅방 및 메세지 예외 처리 기능 구현 [#199, #200]
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomService.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat

#203 [Feat] FE_SCHEDULE_003, 004 개인 및 워크스페이스의 monthly 달력 페이지, 회의 상세 모달 구현[#59]
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon/modal/close.svg
  frontend/src/assets/icon/modal/delete.svg
  frontend/src/assets/icon/modal/edit.svg
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/Modal/WorkspaceModal.vue
  frontend/src/layouts/component/NotificationModal.vue
  frontend/src/layouts/component/WorkSpaceMenu.vue
  frontend/src/services/websocketService.js
  frontend/src/static/alarmData.js
  frontend/src/static/index.js
  frontend/src/static/meetingData.js
  frontend/src/static/taskData.js
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/stores/chat/useChatRoomCreateStore.js
  frontend/src/stores/chat/useChatRoomStore.js
  frontend/src/stores/meeting/useMeetingStore.js
  frontend/src/stores/socket/useAlarmStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/personaUtils.js
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/schedule/component/ScheduleModal.vue
  frontend/src/view/schedule/monthly/MyMonthly.vue
  frontend/src/view/schedule/monthly/PersonalMonthly.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthly.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeekly.vue
  frontend/src/view/schedule/weekly/PersonalWeekly.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeekly.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanban.vue
  frontend/yarn.lock
Labels: 💛frontend, ✨feat

#204 ETC_005 - 도커 이미지 생성을 위한 도커 파일 생성
  backend/Dockerfile
  backend/docker-compose.yml
  frontend/Dockerfile
Labels: 🔍ci/cd

#206 [Refactor] 도커 이미지 생성을 위한 jenkinsfile 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor, 🔍ci/cd

#207 [Rename] 파일 이름 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
Labels: ⛓️‍💥refactor

#208 [Refactor] Jenkins 프론트 파이프라인 구동 확인을 위한 테스트
  frontend/public/favicon.ico
  frontend/src/static/chatData.js
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/stores/chat/useChatRoomCreateStore.js
  frontend/src/stores/chat/useChatRoomStore.js
  frontend/src/stores/user/useParticipantsStore.js
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/chat/component/FriendsModal.vue
  frontend/src/view/user/pages/SignupPage.vue
  frontend/yarn.lock
Labels: 🔍ci/cd

#209 [Refactor] cicd를 위한 젠킨스 파일 수정
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor

#213 [Feat] FE_CHATTING_001 채팅 전송 웹소켓 적용 #56
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/stores/chat/useChatRoomStore.js
  frontend/src/view/chat/ChatRoomPage.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
Labels: 💛frontend, ✨feat

#216 [Feat] domain 추가
  cicd/k8s-backend.yml
  cicd/k8s-frontend.yml
Labels: 🔍ci/cd, 💦K8S

#218 [Fix] k8s, cicd 관련 오류 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/Jenkinsfile-backend
  cicd/k8s-backend.yml
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: 🔍ci/cd, 💦K8S

#220 [fix] ingress 생성 실패 오류 수정
  backend/src/main/resources/application.yml
  cicd/Jenkinsfile-backend
  cicd/k8s-backend.yml
Labels: 💙backend, ❤️‍🔥fix, 💦K8S

#223 [Feat] 응답 메세지 공통 부분 구현
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  cicd/k8s-backend.yml
  cicd/k8s-frontend.yml
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: 💙backend, ✨feat, 💦K8S

#224 [Fix] 응답 메세지 공통 부분 수정
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: 💙backend, ❤️‍🔥fix, 💦K8S

#228 [Fix] CHAT_005 메세지 예외처리 수정 [#20]
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
Labels: 💙backend, ❤️‍🔥fix

#229 [Feat] FE_SCHEDULE_001,002 개인, 워크스페이스, 위클리 페이지 구현
  frontend/.env
  frontend/public/favicon.png
  frontend/src/assets/icon/etc/arrowL.svg
  frontend/src/assets/icon/etc/arrowR.svg
  frontend/src/assets/icon/menu/monthly.svg
  frontend/src/assets/icon/menu/weekly.svg
  frontend/src/assets/icon/schedule/meeting.svg
  frontend/src/assets/icon/schedule/task.svg
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/NotificationModal.vue
  frontend/src/layouts/component/WorkspaceModal.vue
  frontend/src/layouts/component/menu/PersonalMenu.vue
  frontend/src/layouts/component/menu/WorkSpaceMenu.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/ChatModal.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/store/friends/useFriendsStore.js
  frontend/src/store/index.js
  frontend/src/store/socket/chat/useChatMessageStore.js
  frontend/src/store/socket/chat/useChatRoomCreateStore.js
  frontend/src/store/socket/chat/useChatRoomStore.js
  frontend/src/store/socket/useDocsEditStore.js
  frontend/src/store/socket/useNotifyStore.js
  frontend/src/utils/dateUtils.js
  frontend/src/utils/timeUtils.js
  frontend/src/view/schedule/component/ScheduleModal.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeekly.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeekly.vue
  frontend/src/view/schedule/weekly/component/MiniCalendar.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyScheduleComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyTask.vue
Labels: 💛frontend, ✨feat

#230 [Feat] ETC_003 - KAFKA 그룹 아이디 및 설정 변경
  backend/src/main/java/minionz/backend/chat/message/MessageService.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaConstants.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaConsumerConfig.java
  backend/src/main/java/minionz/backend/config/kafka/KafkaProducerConfig.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat, ❤️‍🔥fix

#231 [Feat] kafka, zookeeper k8s yaml 파일 작성
  backend/Dockerfile
  backend/src/main/resources/application.yml
  cicd/Jenkinsfile-backend
  cicd/k8s-kafka.yml
  cicd/k8s-zookeeper.yml
Labels: ✨feat, 🔍ci/cd, 💦K8S

#232 [Remove] 공통 상태 필요없는 코드 제거
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ❤️‍🔥fix

#233 [Remove] 공통 상태 필요없는 코드 변경 및 제거
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
Labels: 💙backend, ❤️‍🔥fix

#234 [Fix] ingress 오류 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/k8s-backend.yml
Labels: ❤️‍🔥fix, 💦K8S

#237 [Refactor] ingress 생성 오류 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
  cicd/k8s-backend.yml
  cicd/k8s-frontend.yml
  cicd/k8s-ingress.yml
Labels: ⛓️‍💥refactor

#238 [Test] ingress 생성 확인을 위한 테스트
  backend/src/main/java/minionz/backend/health/HealthController.java
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: 🔍ci/cd

#239 [Refactor] ingress 파일 transfer 코드 추가
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ❤️‍🔥fix

#241 [Refactor] ingress 파일 transfer 코드 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: 🔍ci/cd

#240 [Fix] SignupPage 코드 수정
  frontend/src/view/user/pages/SignupPage.vue
Labels: ❤️‍🔥fix

#245 [Fix] SignupPage 출력 내용 수정
  frontend/src/view/user/pages/SignupPage.vue
Labels: ❤️‍🔥fix

#252 [Feat] SEARCH_001 - 모든 유저 조회 기능
  backend/src/main/java/minionz/backend/search/SearchController.java
  backend/src/main/java/minionz/backend/search/SearchRepository.java
  backend/src/main/java/minionz/backend/search/SearchService.java
  backend/src/main/java/minionz/backend/search/model/request/SearchUserRequest.java
  backend/src/main/java/minionz/backend/user/UserController.java
Labels: 💙backend

#254 [Feat] SEARCH_002 - 워크스페이스 내 유저 조회 기능 #253
  backend/src/main/java/minionz/backend/search/model/request/WorkspaceUserRequest.java
Labels: 💙backend

#255 [Refactor] 잘못된 request-mapping 수정
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
Labels: 💙backend, ⛓️‍💥refactor

#256 [Feat] ALARM_002 - 알림 생성 및 조회 기능 수정
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/Alarm.java
  backend/src/main/java/minionz/backend/user/UserController.java
Labels: 💙backend, ✨feat

#257 [Feat] FE_USER_001 - 회원가입 Response 값 수정 [#5]
  frontend/src/view/user/pages/SignupPage.vue
Labels: 💛frontend, ❤️‍🔥fix

#261 [Feat] ISSUE_001,002,003 - 이슈 생성 수정 및 단일 조회, 리스트 조회 구현 [#144, #259, #260]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueController.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueRepository.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueService.java
  backend/src/main/java/minionz/backend/scrum/issue/model/Issue.java
  backend/src/main/java/minionz/backend/scrum/issue/model/request/CreateIssueRequest.java
  backend/src/main/java/minionz/backend/scrum/issue/model/response/ReadIssueResponse.java
Labels: 💙backend, ✨feat

#262 [Refactor] 번다운차트 퍼센테이지 추가 [#167]
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardService.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/ReadBurndownResponse.java
Labels: 💙backend, ✨feat

#263 [Refactor] 번다운차트 ideal 퍼센테이지 계산 추가 [#262]
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardService.java
  backend/src/main/java/minionz/backend/scrum/dashboard/model/response/ReadBurndownResponse.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#264 [Refactor] ISSUE_001,002,003 - 이슈 엔터티 및 dto 수정 [#144, #259, #260]
  backend/src/main/java/minionz/backend/scrum/issue/IssueRepository.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueService.java
  backend/src/main/java/minionz/backend/scrum/issue/model/Issue.java
  backend/src/main/java/minionz/backend/scrum/issue/model/response/ReadIssueResponse.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/Workspace.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/request/CreateWorkspaceRequest.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/response/ReadWorkspaceResponse.java
Labels: 💙backend, ⛓️‍💥refactor

#265 [Feat] ALARM_002 - 알림 조회 기능 [#32]
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/Alarm.java
  backend/src/main/java/minionz/backend/alarm/model/request/AlarmRequest.java
  backend/src/main/java/minionz/backend/alarm/model/request/CreateAlarmRequest.java
  backend/src/main/java/minionz/backend/alarm/model/request/DeleteAlarmRequest.java
  backend/src/main/java/minionz/backend/alarm/model/response/AlarmResponse.java
  backend/src/main/java/minionz/backend/alarm/model/response/CreateAlarmResponse.java
  backend/src/main/java/minionz/backend/alarm/model/response/DeleteAlarmResponse.java
  backend/src/main/java/minionz/backend/alarm/model/response/ReadAlarmResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  cicd/.idea/.gitignore
  frontend/src/view/user/pages/SignupPage.vue
Labels: 💙backend, ✨feat

#268 [Feat] ALARM_003 - 리마인드 알람 기능 구현 [#267]
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleService.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintRepository.java
  backend/src/main/java/minionz/backend/scrum/task/TaskRepository.java
  backend/src/main/java/minionz/backend/user/model/User.java
Labels: 💙backend, ✨feat

#269 [Feat] ALARM_002 - 알림 조회 기능 추가 [#32]
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
Labels: 💙backend, ✨feat

#270 [Refactor] ALARM_003 - 리마인드 알람 기능 수정 [#267]
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
Labels: 💙backend, ⛓️‍💥refactor

#272 [Feat] SEARCH_002 - 특정 유저 검색 기능 [#271]
  backend/src/main/java/minionz/backend/search/SearchController.java
  backend/src/main/java/minionz/backend/search/SearchRepository.java
  backend/src/main/java/minionz/backend/search/SearchService.java
  backend/src/main/java/minionz/backend/search/model/response/SearchUserResponse.java
Labels: 💙backend, ✨feat

#273 [Fix] 접근 경로 및 유저 검색 기능 수정
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/search/SearchService.java
  backend/src/main/java/minionz/backend/search/model/response/SearchUserResponse.java
  backend/src/main/java/minionz/backend/user/UserController.java
  backend/src/main/java/minionz/backend/user/UserService.java
  backend/src/main/resources/application.yml
Labels: enhancement, ❤️‍🔥fix

#274 [Refactor] api 경로 수정
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardController.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentController.java
  backend/src/main/java/minionz/backend/board/qa_board/QaBoardController.java
  backend/src/main/java/minionz/backend/board/qa_comment/QaCommentController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/note/NoteContentController.java
  backend/src/main/java/minionz/backend/note/NoteController.java
  backend/src/main/java/minionz/backend/note/NoteService.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
Labels: 💙backend, ⛓️‍💥refactor

#276 [Refactor] store 4차 수정
  frontend/src/common/component/RightSide/RightSideIssue.vue
  frontend/src/common/component/RightSide/RightSideParticipants.vue
  frontend/src/static/workspaceDashboardData.js
  frontend/src/stores/workspace/useDashboard.js
  frontend/src/utils/meetingBgUtils.js
  frontend/src/view/dashboard/MyDashBoard.vue
  frontend/src/view/dashboard/WorkspaceDashBoard.vue
  frontend/src/view/dashboard/component/MeetingList.vue
  frontend/src/view/dashboard/component/PriorityTask.vue
Labels: 💛frontend, ✨feat

#278 [Refactor] cicd 환경변수 수정
  cicd/Jenkinsfile-backend
  cicd/k8s-backend.yml
Labels: ⛓️‍💥refactor, 🔍ci/cd

#279 [Fix] cicd를 위한 코드 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/k8s-frontend.yml
  frontend/src/view/user/pages/SignupPage.vue
Labels: ❤️‍🔥fix, 🔍ci/cd

#280 [refactor] 누락된 tag 추가
  cicd/Jenkinsfile-backend
Labels: ⛓️‍💥refactor, 🔍ci/cd

#281 [Refactor] Schedule 기능 store 및 UI 및 데이터바인딩 및 기능 수정
  frontend/src/static/workspaceWeeklyData.js
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/utils/calendarUtils.js
  frontend/src/view/dashboard/MyDashBoard.vue
  frontend/src/view/dashboard/WorkspaceDashBoard.vue
  frontend/src/view/dashboard/component/PriorityTask.vue
  frontend/src/view/schedule/monthly/MyMonthly.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthly.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeekly.vue
  frontend/src/view/schedule/weekly/PersonalWeekly 2.vue
  frontend/src/view/schedule/weekly/PersonalWeekly.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeekly.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyScheduleComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyTask.vue
Labels: 💛frontend, ✨feat

#283 [Fix] frontend-yml 파일 수정
  cicd/Jenkinsfile-frontend
  frontend/Dockerfile
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: ❤️‍🔥fix, 🔍ci/cd

#288 [Refactor] conf 파일 쿠버네티스 yml에서 직접 copy로 수정
  cicd/k8s-frontend.yml
  frontend/Dockerfile
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: ❤️‍🔥fix, 🔍ci/cd
