Repository beyond-sw-camp/be06-fin-MINIONZ-CalIT, pull requests merged in 2024-10, with the labels that each got.

#290 [Refactor] 알림 메세지에 변수 추가
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/request/AlarmRequest.java
Labels: 💙backend, ⛓️‍💥refactor

#292 [Feat] WORKSPACE_005 - 워크스페이스 초대 응답 기능 구현 [#291]
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace_participation/WorkspaceParticipationRepository.java
  backend/src/main/java/minionz/backend/user_alarm/model/UserAlarm.java
Labels: 💙backend, ✨feat

#293 [Refactor] socialLogin 기능 수정
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/minionz/backend/user/CustomOauth2UserService.java
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#294 [Refactor] 로그인 경로 수정
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
Labels: ⛓️‍💥refactor

#296 [Refactor] cicd를 위한 conf 설정
  cicd/k8s-frontend.yml
Labels: ⛓️‍💥refactor

#298 [Refactor] Store 및 로직 8차 수정
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanban.vue
Labels: 💛frontend, ⛓️‍💥refactor

#299 Revert "[Refactor] Store 및 로직 8차 수정"
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanban.vue
Labels: ⛓️‍💥refactor

#301 [Refactor] git code refactorings
  .gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#305 [Refactor] 소셜 로그인 경로 수정
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#306 [Remove] 잘못 커밋 된 파일 삭제
  frontend/src/layouts/component/modal/AlarmModalBU.vue
Labels: 💛frontend, ⛓️‍💥refactor

#308 [Refactor] /api 경로 / 로수정
  backend/gradlew
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/board/error_board/ErrorBoardController.java
  backend/src/main/java/minionz/backend/board/error_comment/ErrorCommentController.java
  backend/src/main/java/minionz/backend/board/qa_board/QaBoardController.java
  backend/src/main/java/minionz/backend/board/qa_comment/QaCommentController.java
  backend/src/main/java/minionz/backend/chat/chat_room/ChatRoomController.java
  backend/src/main/java/minionz/backend/chat/message/MessageController.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/JwtFilter.java
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/java/minionz/backend/note/NoteController.java
  backend/src/main/java/minionz/backend/scrum/dashboard/DashboardController.java
  backend/src/main/java/minionz/backend/scrum/issue/IssueController.java
  backend/src/main/java/minionz/backend/scrum/label/LabelController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/schedule/ScheduleController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/search/SearchController.java
  backend/src/main/java/minionz/backend/user/UserController.java
Labels: ⛓️‍💥refactor

#309 [Fix] rewrite 어노테이션 추가로 백엔드 서비스 연결 시 오류 해결
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/k8s-ingress.yml
Labels: 💙backend

#311 [Fix] api 경로 수정으로 인한 에러 수정
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
Labels: 💙backend, ❤️‍🔥fix

#312 [Refactor] 토큰 관리, requireAuth, 사용자 검색 파트 수정
  backend/src/.DS_Store
  backend/src/main/.DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon 2.png
  frontend/src/assets/icon/alarm/info 3.svg
  frontend/src/assets/icon/alarm/notification 3.svg
  frontend/src/assets/icon/boardIcon/pdf 2.svg
  frontend/src/assets/icon/boardIcon/search 2.svg
  frontend/src/assets/icon/chatIcon/clip 3.svg
  frontend/src/assets/icon/chatIcon/code 3.svg
  frontend/src/assets/icon/chatIcon/docs 3.svg
  frontend/src/assets/icon/chatIcon/download 3.svg
  frontend/src/assets/icon/chatIcon/img 3.svg
  frontend/src/assets/icon/chatIcon/pdf 3.svg
  frontend/src/assets/icon/chatIcon/sendIcon 3.svg
  frontend/src/assets/icon/etc/arrowL 3.svg
  frontend/src/assets/icon/etc/arrowL 4.svg
  frontend/src/assets/icon/etc/arrowR 2.svg
  frontend/src/assets/icon/etc/cancel 3.svg
  frontend/src/assets/icon/etc/kanban 3.svg
  frontend/src/assets/icon/etc/persona 3.svg
  frontend/src/assets/icon/menu/monthly 2.svg
  frontend/src/assets/icon/menu/weekly 2.svg
  frontend/src/assets/icon/schedule/meeting 3.svg
  frontend/src/assets/icon/schedule/meeting 4.svg
  frontend/src/assets/icon/schedule/task 3.svg
  frontend/src/assets/icon/schedule/task 4.svg
  frontend/src/common/component/Board/ScrumList 2.vue
  frontend/src/common/component/Editor/QuillEditorBoard 2.vue
  frontend/src/common/component/Editor/QuillEditorMeeting 2.vue
  frontend/src/common/component/search/SearchFriends 2.vue
  frontend/src/layouts/AppHeader.vue
  frontend/src/router/index.js
  frontend/src/static/issueData 2.js
  frontend/src/static/myDashboardData 2.js
  frontend/src/static/myDashboardData 3.js
  frontend/src/static/myMonthlyData 2.js
  frontend/src/static/mySprintData 2.js
  frontend/src/static/workspaceDashboardData 2.js
  frontend/src/static/workspaceWeeklyData 2.js
  frontend/src/stores/board/useErrorStore 2.js
  frontend/src/stores/board/useQAStore 2.js
  frontend/src/stores/friends/useFriendsStore.js
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/view/board/detail/componenet/CommentComponent 2.vue
  frontend/src/view/scrum/create/WorkSpaceCreate.vue
  frontend/src/view/scrum/detail/ErrorDetail.vue
  frontend/src/view/scrum/detail/IssueDetail 2.vue
  frontend/src/view/scrum/detail/IssueDetail 3.vue
  frontend/src/view/scrum/list/IssueList 2.vue
  frontend/src/view/user/pages/LoginPage.vue
  frontend/yarn.lock
Labels: 💛frontend, ⛓️‍💥refactor

#313 [Refactor] 프론트 엔드와 백엔드 소셜 로그인 설정 변경
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/resources/application.yml
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#314 [Refactor] 소셜 로그인 경로 수정
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#315 [Refactor] yaml파일 경로 수정
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#316 [Refactor] 토큰에 저장되는 유저 정보 변경
  backend/src/main/java/minionz/backend/config/filter/LoginFilter.java
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/minionz/backend/search/SearchController.java
  backend/src/main/java/minionz/backend/search/SearchRepository.java
  backend/src/main/java/minionz/backend/search/SearchService.java
  backend/src/main/java/minionz/backend/search/model/response/SearchUserResponse.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
Labels: ⛓️‍💥refactor

#317 [Refactor] health check 타임 조정
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/k8s-backend.yml
Labels: ⛓️‍💥refactor, 🔍ci/cd

#318 [Refactor] 스티키 세션 적용
  backend/src/main/java/minionz/backend/health/HealthController.java
  cicd/k8s-backend.yml
Labels: ⛓️‍💥refactor

#319 [Refactor] 프론트 엔드 서비스 스티키 세션 적용
  cicd/k8s-frontend.yml
  frontend/src/view/user/pages/SignupPage.vue
Labels: ⛓️‍💥refactor

#320 [Refactor] workspace 추가 api 변경
  frontend/src/layouts/AppHeader.vue
  frontend/src/middlewares/checkAuth 2.js
  frontend/src/stores/friends/useFriendsStore.js
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/view/schedule/weekly/component/WeeklyScheduleComponent.vue
  frontend/src/view/scrum/create/WorkSpaceCreate.vue
  frontend/src/view/scrum/detail/IssueDetail 2.vue
  frontend/src/view/scrum/detail/IssueDetail 3.vue
  frontend/src/view/scrum/meeting/component/MeetingCard 2.vue
  frontend/vue.config.js
Labels: ⛓️‍💥refactor

#321 [Fix] jwt util 수정
  backend/src/main/java/minionz/backend/config/filter/JwtFilter.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/scrum/workspace/model/request/CreateWorkspaceRequest.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
Labels: 💙backend, ❤️‍🔥fix

#322 [Feat] 젠킨스와 디스코드 연동
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ✨feat

#323 [Refactor] 젠킨스 디스코드 환경변수명 변경
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor

#325 [Feat] 젠킨스 디스코드 코드 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor

#324 [Refactor] my dashboard 초기 페이지 설정, sprint더미 데이터 삭제, workspace modal 및 sprint list api 연결 수정
  frontend/src/assets/icon/alarm/info 2.svg
  frontend/src/assets/icon/alarm/info 3.svg
  frontend/src/assets/icon/alarm/notification 2.svg
  frontend/src/assets/icon/alarm/notification 3.svg
  frontend/src/assets/icon/boardIcon/pdf 2.svg
  frontend/src/assets/icon/boardIcon/search 2.svg
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/utils/axiosInstance.js
  frontend/src/view/dashboard/MyDashBoard.vue
  frontend/src/view/scrum/create/SprintCreate.vue
  frontend/src/view/scrum/create/WorkSpaceCreate.vue
  frontend/src/view/scrum/list/IssueList 2.vue
  frontend/src/view/scrum/list/SprintList.vue
Labels: ⛓️‍💥refactor

#326 [Feat] 로그인 한 유저의 알람 조회 기능 구현
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/alarm/model/response/ReadMyAlarmResponse.java
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintService.java
  backend/src/main/java/minionz/backend/scrum/task/TaskController.java
  backend/src/main/java/minionz/backend/scrum/task/TaskService.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceService.java
  backend/src/main/java/minionz/backend/user_alarm/UserAlarmRepository.java
  backend/src/main/java/minionz/backend/user_alarm/model/UserAlarm.java
Labels: 💙backend, ✨feat

#327 [Refactor] workspace store 수정, alarm api, chat alarm 더미 데이터 제거
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/ChatModal.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/static/alarmData.js
  frontend/src/stores/workspace/space/useWorkspaceStore.js
  frontend/src/view/dashboard/MyDashBoard.vue
Labels: ⛓️‍💥refactor

#328 [Refactor] alarm api 수정
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/ChatModal.vue
  frontend/src/stores/socket/useAlarmStore.js
Labels: ⛓️‍💥refactor

#329 [Refactor] alarm api 경로 및 메소드 수정
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/stores/socket/useAlarmStore.js
Labels: ⛓️‍💥refactor

#330 [Feat] 젠킨스 디스코드 코드 들여쓰기 수정
  cicd/Jenkinsfile-backend
Labels: ⛓️‍💥refactor

#331 [Refactor] alarm 메소드 수정
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/view/scrum/Task/kanban/MyTaskKanban.vue
Labels: ⛓️‍💥refactor

#332 [Feat] 젠킨스 디스코드 코드 환경변수 수정
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor

#333 [Refactor] 젠킨스 디스코드 코드 전송 메세지 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
Labels: ⛓️‍💥refactor

#335 [Refactor] alarm patch 경로 수정
  frontend/src/stores/socket/useAlarmStore.js
Labels: 💛frontend

#340 [Refactor] 백엔드 로그 찍기 추가
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
Labels: ⛓️‍💥refactor

#341 [Refactor] 구글 yml redirect uri 삭제
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#342 [Refactor] 구글 yml redirect uri 변경
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#343 [Refactor] store reponse 수정, 스프린트 수정
  backend/src/main/resources/application.yml
  frontend/package.json
  frontend/src/common/component/RightSide/RightSideIssue.vue
  frontend/src/common/component/RightSide/RightSideLabel.vue
  frontend/src/common/component/RightSide/RightSideTask.vue
  frontend/src/common/component/search/SearchFriends 2.vue
  frontend/src/common/component/search/SearchFriends.vue
  frontend/src/common/component/search/SearchLabels.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/main.js
  frontend/src/plugins/index 2.js
  frontend/src/plugins/index.js
  frontend/src/plugins/vuetify.js
  frontend/src/router/index.js
  frontend/src/services/websocketService.js
  frontend/src/stores/alarm/useAlarmStore.js
  frontend/src/stores/board/useErrorStore 2.js
  frontend/src/stores/board/useErrorStore.js
  frontend/src/stores/board/useQAStore 2.js
  frontend/src/stores/board/useQAStore.js
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/stores/chat/useChatRoomStore.js
  frontend/src/stores/my/useMypageStore.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/scrum/useIssueStore.js
  frontend/src/stores/scrum/useMeetingStore.js
  frontend/src/stores/scrum/useSprintLabelStore.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/scrum/useTaskLabelStore.js
  frontend/src/stores/scrum/useTaskStore.js
  frontend/src/stores/socket/useDocsEditStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/stores/user/useParticipantsStore.js
  frontend/src/stores/workspace/useDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/personaUtils.js
  frontend/src/view/chat/component/ChatMessage.vue
  frontend/src/view/chat/component/ChatRoomList.vue
  frontend/src/view/chat/component/FriendsModal.vue
  frontend/src/view/dashboard/MyDashBoard.vue
  frontend/src/view/dashboard/WorkspaceDashBoard.vue
  frontend/src/view/schedule/monthly/MyMonthly.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthly.vue
  frontend/src/view/schedule/weekly/MyWeekly.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeekly.vue
  frontend/src/view/scrum/Task/create/WorkSpaceTaskCreate.vue
  frontend/src/view/scrum/Task/kanban/MyTaskKanban.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanban.vue
  frontend/src/view/scrum/create/IssueCreate.vue
  frontend/src/view/scrum/create/SprintCreate.vue
  frontend/src/view/scrum/create/TaskCreate.vue
  frontend/src/view/scrum/create/WorkSpaceCreate.vue
  frontend/src/view/scrum/detail/IssueDetail.vue
  frontend/src/view/scrum/detail/SprintDetail.vue
  frontend/src/view/scrum/list/SprintList.vue
  frontend/src/view/scrum/meeting/MeetingCreate.vue
  frontend/yarn.lock
Labels: ⛓️‍💥refactor

#344 [Refactor] 구글 시크릿키값 수정
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ⛓️‍💥refactor

#345 [Refactor] social login success page에 router script 추가
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/router/index.js
  frontend/src/stores/alarm/useAlarmStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/view/board/create/ErrorCreatePage.vue
  frontend/src/view/board/create/QACreatePage.vue
  frontend/src/view/board/detail/ErrorDetailPage.vue
  frontend/src/view/board/detail/QADetailPage.vue
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/schedule/monthly/MyMonthlyPage.vue
  frontend/src/view/schedule/weekly/MyWeeklyPage.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeeklyPage.vue
  frontend/src/view/scrum/create/IssueCreatePage.vue
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ⛓️‍💥refactor

#346 [Feat] 소셜 로그인을 위한 스티키 세션용 서비스 및 디플로이먼트 추가
  backend/docker-compose.yml
  backend/src/main/resources/application.yml
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
  cicd/k8s-backend.yml
  cicd/k8s-ingress.yml
Labels: 🔍ci/cd

#351 [Feat] OAuth2AuthenticationFailureHandler 추가
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationFailureHandler.java
Labels: 💙backend

#352 [Refactor] side bar 로직 수정, friend search api 수정
  frontend/src/layouts/BasicLayout.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/router/index.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/timeInputUtils.js
  frontend/src/view/board/list/ErrorListPage.vue
  frontend/src/view/board/list/QAListPage.vue
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/scrum/Task/create/WorkSpaceTaskCreatePage.vue
  frontend/src/view/scrum/Task/kanban/MyTaskKanbanPage.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanbanPage.vue
  frontend/src/view/scrum/Task/list/MyTaskListPage.vue
  frontend/src/view/scrum/Task/list/WorkSpaceTaskListPage.vue
  frontend/src/view/scrum/Task/timeline/TimeLinePage.vue
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/create/TaskCreatePage.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
  frontend/src/view/scrum/detail/ErrorDetailPage.vue
  frontend/src/view/scrum/detail/IssueDetailPage.vue
  frontend/src/view/scrum/detail/SprintDetailPage.vue
  frontend/src/view/scrum/list/IssueListPage.vue
  frontend/src/view/scrum/list/LabelListPage.vue
  frontend/src/view/scrum/list/SprintListPage.vue
  frontend/src/view/scrum/meeting/MeetingCreatePage.vue
  frontend/src/view/scrum/meeting/MeetingDetailPage.vue
  frontend/src/view/scrum/meeting/MeetingEditPage.vue
  frontend/src/view/scrum/meeting/MeetingListPage.vue
  frontend/src/view/user/component/SocialLogin.vue
Labels: ⛓️‍💥refactor

#354 [Refactor] social login authorization 경로 수정
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ⛓️‍💥refactor

#355 [Refactor] 검색 기능 응답 타입 수정
  backend/src/main/java/minionz/backend/common/responses/BaseResponseStatus.java
  backend/src/main/java/minionz/backend/search/SearchController.java
Labels: ⛓️‍💥refactor

#357 [Refactor] social login redirection
  frontend/src/common/component/Board/ScrumList.vue
  frontend/src/common/component/search/SearchFriends.vue
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/list/SprintListPage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ⛓️‍💥refactor

#358 [Feat] Swagger UI 적용
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  frontend/src/common/component/Board/ScrumList.vue
  frontend/src/common/component/search/SearchFriends.vue
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/list/SprintListPage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ✨feat

#359 [Refactor] social login set token
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ⛓️‍💥refactor

#360 [Feat] Swagger Config 수정
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  backend/src/main/resources/application.yml
Labels: enhancement, 💙backend

#361 [Feat] Swagger Config 수정
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#362 [Refactor] Swagger Config 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#364 [Refactor] Swagger Config 수정
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  backend/src/main/java/minionz/backend/config/web/WebConfig.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#365 [Refactor] Swagger Config 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#366 [Refactor] Swagger Config 수정
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/resources/application.yml
Labels: ⛓️‍💥refactor

#367 [Feat] 토큰 재발행 기능 구현
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/user/CustomUserDetailService.java
  backend/src/main/java/minionz/backend/user/UserService.java
  backend/src/main/java/minionz/backend/user/model/CustomSecurityUserDetails.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
Labels: 💙backend, ✨feat

#368 [Refactor] workspace store 해체
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/router/index.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/dateSettingUtils.js
  frontend/src/utils/weekSettingUtils.js
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeeklyPage.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeeklyPage.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
Labels: ⛓️‍💥refactor

#369 [Refactor] router, sprint, workspace 관련 로직 수정
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
Labels: ⛓️‍💥refactor

#370 [Refactor] 빌드 에러로 인한 workspace click 수정
  frontend/src/layouts/component/modal/WorkspaceModal.vue
Labels: ⛓️‍💥refactor

#372 [Feat] CHATBOT_001 - 챗봇 질문 및 대답 기능 구현 [#371]
  backend/build.gradle
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotController.java
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotRepository.java
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotService.java
  backend/src/main/java/minionz/backend/chat/chat_bot/model/ChatBot.java
  backend/src/main/java/minionz/backend/chat/chat_bot/model/request/ChatBotRequest.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ✨feat

#373 [Chore] CHATBOT_001 - 챗봇 api-key 부분 수정 [#371]
  backend/Dockerfile
  backend/src/main/resources/application.yml
  cicd/k8s-backend.yml
Labels: 💙backend, ✨feat

#374 [Merge] 프론트엔드 개발 브랜치 병합
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  backend/src/main/resources/application.yml
  frontend/src/App.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/dateSettingUtils.js
  frontend/src/utils/weekSettingUtils.js
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeeklyPage.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeeklyPage.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: merge

#375 [Merge] 브랜치 병합
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotController.java
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotRepository.java
  backend/src/main/java/minionz/backend/chat/chat_bot/ChatBotService.java
  backend/src/main/java/minionz/backend/chat/chat_bot/model/ChatBot.java
  backend/src/main/java/minionz/backend/chat/chat_bot/model/request/ChatBotRequest.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/config/swagger/SwaggerConfig.java
  backend/src/main/java/minionz/backend/config/web/WebConfig.java
  backend/src/main/java/minionz/backend/health/HealthController.java
  backend/src/main/java/minionz/backend/scrum/sprint/SprintController.java
  backend/src/main/java/minionz/backend/scrum/workspace/WorkspaceController.java
  backend/src/main/java/minionz/backend/user/CustomUserDetailService.java
  backend/src/main/java/minionz/backend/user/UserService.java
  backend/src/main/java/minionz/backend/user/model/CustomSecurityUserDetails.java
  backend/src/main/java/minionz/backend/user/model/User.java
  backend/src/main/java/minionz/backend/utils/JwtUtil.java
  backend/src/main/resources/application.yml
  cicd/k8s-backend.yml
Labels: merge

#376 [Refactor] cicd 관련 파일 수정
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
  cicd/k8s-backend.yml
  frontend/src/App.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/dateSettingUtils.js
  frontend/src/utils/weekSettingUtils.js
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeeklyPage.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeeklyPage.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
  frontend/src/view/scrum/create/SprintCreatePage.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
Labels: ❤️‍🔥fix, ⛓️‍💥refactor, 🔍ci/cd

#377 [Refactor] 회의 조회 기능 수정 [#7]
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/note/NoteConsumer.java
  backend/src/main/java/minionz/backend/note/NoteContentController.java
  backend/src/main/java/minionz/backend/note/NoteController.java
  backend/src/main/java/minionz/backend/note/NoteProducer.java
  backend/src/main/java/minionz/backend/note/NoteService.java
  backend/src/main/java/minionz/backend/note/model/response/GetNoteAllResponse.java
  backend/src/main/java/minionz/backend/scrum/label_select/model/NoteLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingService.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/Meeting.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/ReadAllMeetingResponse.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/ReadLabelResponse.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/Participant.java
Labels: 💙backend, ⛓️‍💥refactor

#378 [Refactor] 알람 id 수정
  backend/build.gradle
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
Labels: 💙backend

#379 [Refactor] 백엔드 알람 로직 수정
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
Labels: ⛓️‍💥refactor

#380 [Merge] develop 브랜치로 병합
  backend/build.gradle
  backend/src/main/java/minionz/backend/alarm/AlarmController.java
  backend/src/main/java/minionz/backend/alarm/AlarmService.java
  backend/src/main/java/minionz/backend/config/SecurityConfig.java
  backend/src/main/java/minionz/backend/note/NoteConsumer.java
  backend/src/main/java/minionz/backend/note/NoteContentController.java
  backend/src/main/java/minionz/backend/note/NoteController.java
  backend/src/main/java/minionz/backend/note/NoteProducer.java
  backend/src/main/java/minionz/backend/note/NoteService.java
  backend/src/main/java/minionz/backend/note/model/response/GetNoteAllResponse.java
  backend/src/main/java/minionz/backend/scrum/label_select/model/NoteLabelSelect.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingRepository.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingService.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/Meeting.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/ReadAllMeetingResponse.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/ReadLabelResponse.java
  backend/src/main/java/minionz/backend/scrum/schedule/ReminderService.java
  backend/src/main/java/minionz/backend/scrum/sprint/model/response/Participant.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  cicd/Jenkinsfile-backend
  cicd/Jenkinsfile-frontend
  cicd/k8s-backend.yml
Labels: merge

#381 [Refactor] 소셜 로그인 반환 토큰 수정
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
Labels: ⛓️‍💥refactor

#382 [Merge] 최신 상태로 병합
  backend/src/main/java/minionz/backend/config/filter/OAuth2AuthenticationSuccessHandler.java
Labels: 💙backend

#383 [Refactor] 소셜 로그인 반환 토큰 수정
  backend/src/main/java/minionz/backend/user/model/CustomOauth2UserDetails.java
Labels: ⛓️‍💥refactor

#384 [Refactor] 회의 생성 기능 수정 #92
  backend/build.gradle
  backend/src/main/java/minionz/backend/config/RedisConfig.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingController.java
  backend/src/main/java/minionz/backend/scrum/meeting/MeetingService.java
  backend/src/main/java/minionz/backend/scrum/meeting/model/response/CreateMeetingResponse.java
  backend/src/main/resources/application.yml
Labels: 💙backend, ⛓️‍💥refactor

#390 [Feat] 워크스페이스 수락/거절 기능 및 알림 삭제 기능 추가
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/main.js
  frontend/src/stores/alarm/useAlarmStore.js
Labels: 💛frontend

#392 [Refactor] 워크스페이스 및 스프린트 수정
  frontend/src/common/component/Board/SprintList.vue
  frontend/src/router/index.js
  frontend/src/stores/scrum/useSprintStore.js
  frontend/src/stores/scrum/useTaskStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/view/scrum/Task/component/TaskViewBar.vue
  frontend/src/view/scrum/Task/create/WorkSpaceTaskCreatePage.vue
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanbanPage.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
  frontend/src/view/scrum/detail/IssueDetailPage.vue
  frontend/src/view/scrum/detail/SprintDetailPage.vue
Labels: 💛frontend, ❤️‍🔥fix, ⛓️‍💥refactor

#391 [Refactor] 게시글 조회 기능 수정 [#21]
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardRepository.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardRepository.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
Labels: 💙backend, ⛓️‍💥refactor

#393 [Refactor] 메세지 기능 수정 및 파일 리스트 구현
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/view/chat/component/ChatMessage.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/chat/component/FileList.vue
Labels: 💛frontend, ⛓️‍💥refactor

#394 [Refactor] CHAT_005,007 - 파일 보내기 수정 및 채팅 내역 페이징처리 [#150, #172]
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageRepository.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/model/request/SendMessageRequest.java
Labels: 💙backend, ❤️‍🔥fix, ⛓️‍💥refactor

#396 [Refactor] 모듈화 후 젠킨스 자동화 설정
  backend/api-server/Dockerfile
  cicd/Jenkinsfile-backend
Labels: ⛓️‍💥refactor, 🔍ci/cd

#398 [Refactor] 모듈화 후 젠킨스 자동화 설정 수정
  cicd/Jenkinsfile-backend
Labels: ⛓️‍💥refactor

#399 [Refactor] 알림 데이터 타입 변경
  backend/api-server/src/main/java/minionz/apiserver/alarm/AlarmService.java
  backend/common/src/main/java/minionz/common/alarm/model/response/ReadMyAlarmResponse.java
  backend/common/src/main/java/minionz/common/user_alarm/model/UserAlarm.java
Labels: ⛓️‍💥refactor

#401 [Fix] 워크스페이스 대시보드 기능 수정
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/dashboard/component/MeetingList.vue
  frontend/src/view/dashboard/component/WorkspaceTaskOverview.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthly.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
Labels: 💛frontend, ❤️‍🔥fix

#402 [Feat] 상태별 태스크 조회 기능 구현
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/sprint/SprintService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskService.java
  backend/api-server/src/main/java/minionz/apiserver/search/SearchService.java
  backend/api-server/src/main/resources/data.sql
Labels: 💙backend, ✨feat

#404 [Feat] 대시보드 화면에 값 띄우기
  backend/api-server/Dockerfile
  backend/api-server/src/main/java/minionz/apiserver/alarm/AlarmService.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardRepository.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardRepository.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageRepository.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/model/request/SendMessageRequest.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/sprint/SprintService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskService.java
  backend/api-server/src/main/java/minionz/apiserver/search/SearchService.java
  backend/api-server/src/main/resources/data.sql
  backend/common/src/main/java/minionz/common/alarm/model/response/ReadMyAlarmResponse.java
  backend/common/src/main/java/minionz/common/user_alarm/model/UserAlarm.java
  backend/src/main/resources/.DS_Store
  cicd/Jenkinsfile-backend
  frontend/src/view/dashboard/MyDashBoardPage.vue
  frontend/src/view/dashboard/component/MeetingList.vue
  frontend/src/view/dashboard/component/PriorityTask.vue
Labels: ✨feat

#406 [Refactor] 대시보드에서 조건에 따라 화면에 나오는 값 수정
  frontend/src/view/dashboard/MyDashBoardPage.vue
Labels: ⛓️‍💥refactor

#407 [Refactor] 각 파트의 전반적인 수정 진행
  frontend/src/router/index.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/utils/calendarUtils.js
  frontend/src/view/schedule/component/ScheduleModal.vue
  frontend/src/view/schedule/monthly/MyMonthlyPage.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthly.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthlyPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
Labels: ⛓️‍💥refactor

#409 [Refactor] task와 board 수정 [#3]
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardController.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskService.java
  backend/api-server/src/main/java/minionz/apiserver/search/SearchService.java
Labels: 💙backend, ⛓️‍💥refactor

#408 [Refactor] 게시판 생성 및 조회 기능 수정
  frontend/src/common/component/Board/BoardList.vue
  frontend/src/common/component/RightSide/RighSideQaParticipants.vue
  frontend/src/common/component/search/SearchQaFriends.vue
  frontend/src/stores/board/useErrorStore.js
  frontend/src/stores/board/useQAStore.js
  frontend/src/stores/scrum/useTaskStore.js
  frontend/src/stores/user/useFriendsStore.js
  frontend/src/view/board/create/ErrorCreatePage.vue
  frontend/src/view/board/create/QACreatePage.vue
  frontend/src/view/board/list/ErrorListPage.vue
  frontend/src/view/board/list/QAListPage.vue
Labels: 💛frontend, ⛓️‍💥refactor

#410 [Refactor] response message 수정
  backend/api-server/src/main/java/minionz/apiserver/scrum/schedule/ScheduleController.java
Labels: 💙backend, ⛓️‍💥refactor

#411 [Refactor] time setting utils 수정
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
Labels: ⛓️‍💥refactor

#412 [Refactor] task 수정 [#53]
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/common/src/main/java/minionz/common/scrum/task/TaskRepository.java
  backend/common/src/main/java/minionz/common/scrum/task/model/Task.java
  backend/common/src/main/java/minionz/common/scrum/workspace/model/Workspace.java
Labels: 💙backend, ⛓️‍💥refactor

#413 [Refactor] weekly, monthly undefined 및 props 수정
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
Labels: ⛓️‍💥refactor

#414 [Fix] 캘린더 위클리 조회 오류 수정
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/MyWeeklyPage.vue
  frontend/src/view/schedule/weekly/WorkSpaceWeeklyPage.vue
  frontend/src/view/schedule/weekly/component/WeeklyIssues.vue
  frontend/src/view/schedule/weekly/component/WeeklyTasks.vue
Labels: 💛frontend, ❤️‍🔥fix

#415 [Fix] 이슈 생성 오류 수정
  frontend/src/view/scrum/create/IssueCreatePage.vue
Labels: 💛frontend, ❤️‍🔥fix

#416 [Fix] 이슈 생성 에러 수정
  frontend/src/stores/scrum/useIssueStore.js
  frontend/src/view/scrum/create/IssueCreatePage.vue
Labels: 💛frontend, ❤️‍🔥fix

#419 [Feat] CHAT_007 - 채팅방 별 파일 내역 조회 기능 구현 [#25]
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_room/model/response/FileInfoResponse.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageRepository.java
  backend/api-server/src/main/java/minionz/apiserver/chat/message/MessageService.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
Labels: 💙backend, ✨feat, ⛓️‍💥refactor

#420 [Fix] 워크스페이스 생성 오류 해결
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
Labels: 💛frontend, ❤️‍🔥fix

#422 [Refactor] 알림 연결이 되는 주소를 배포 환경으로 수정
  .gitignore
  frontend/src/main.js
Labels: ⛓️‍💥refactor

#424 [Refactor] 소셜 로그인 권한 추가 기능 수정
  backend/api-server/src/main/java/minionz/apiserver/user/model/CustomOauth2UserDetails.java
Labels: ⛓️‍💥refactor

#423 [Fix] 배포 환경 websocket api 경로 수정
  frontend/src/common/component/Editor/QuillEditorMeeting 2.vue
  frontend/src/common/component/Editor/QuillEditorMeeting.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
Labels: 💛frontend, ❤️‍🔥fix

#425 [Refactor] 회의록 공동 작성 부분 에러 해결
  frontend/src/common/component/Editor/QuillEditorMeeting.vue
Labels: 💛frontend, ⛓️‍💥refactor

#426 [Refactor] 회의록 공동작성 페이지 수정 [#425]
  frontend/src/common/component/Editor/QuillEditorMeeting.vue
Labels: 💛frontend, ⛓️‍💥refactor

#427 [Refactor] 회의록 로직 수정 [#425]
  backend/api-server/src/main/java/minionz/apiserver/note/NoteConsumer.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteContentController.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteController.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteProducer.java
Labels: 💙backend, ⛓️‍💥refactor

#428 [Feat] 소셜 로그인 loginID 설정 기능
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/user/UserController.java
  backend/api-server/src/main/java/minionz/apiserver/user/UserService.java
  backend/api-server/src/main/java/minionz/apiserver/user/model/request/SocialLoginIdRequest.java
  backend/common/src/main/java/minionz/common/user/UserRepository.java
Labels: 💙backend, ✨feat

#430 [Fix] 스프링 배치로 변경하며 코드 변경으로 이한 에러 주석 처리
  backend/api-server/src/main/java/minionz/apiserver/scrum/schedule/ReminderService.java
Labels: 💙backend, ❤️‍🔥fix

#431 [Refactor] 알림 수정, redirection, sprint 리스트 수정, monthly에 sprint 데이터 바인딩
  frontend/src/App.vue
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/SideBar.vue
  frontend/src/layouts/component/menu/PersonalMenu.vue
  frontend/src/layouts/component/menu/WorkSpaceMenu.vue
  frontend/src/layouts/component/modal/AlarmModal.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/scrum/useMeetingStore.js
  frontend/src/stores/user/useUserStore.js
  frontend/src/utils/alarmUtils.js
  frontend/src/utils/workspaceUtils.js
  frontend/src/view/schedule/monthly/MyMonthlyPage.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthlyPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
  frontend/src/view/scrum/list/IssueListPage.vue
  frontend/src/view/scrum/list/SprintListPage.vue
  frontend/src/view/scrum/meeting/MeetingListPage.vue
  frontend/src/view/user/pages/SocialLoginSuccessPage.vue
  frontend/src/view/user/pages/SocialRedirectionPage.vue
Labels: 💛frontend

#432 [Feat] CHATBOT_001 - 챗봇 Ai 연결 기능 구현 [#371]
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/model/request/ChatBotRequest.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/config/web/WebSocketConfig.java
  backend/common/src/main/java/minionz/common/chat/chat_bot/model/ChatBot.java
  backend/common/src/main/java/minionz/common/user/model/User.java
Labels: 💙backend, ✨feat

#434 [Refactor] chatbot page 추가
  frontend/src/common/component/Board/ScrumList.vue
  frontend/src/common/component/RightSide/RightSideIssue.vue
  frontend/src/router/index.js
  frontend/src/stores/myspace/useMyDashboardStore.js
  frontend/src/stores/workspace/useWorkspaceDashboardStore.js
  frontend/src/utils/calendarUtils.js
  frontend/src/utils/scheduleDateFnsUtils.js
  frontend/src/utils/scheduleDateSettingUtils.js
  frontend/src/utils/timeInputUtils.js
  frontend/src/utils/timeUtils.js
  frontend/src/view/chatbot/ChatBotPage.vue
  frontend/src/view/chatbot/component/ChatBotComponent.vue
  frontend/src/view/chatbot/component/ChatMessage.vue
  frontend/src/view/schedule/monthly/MyMonthlyPage.vue
  frontend/src/view/schedule/monthly/WorkSpaceMonthlyPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
  frontend/src/view/schedule/weekly/component/WeeklyComponent.vue
  frontend/src/view/scrum/create/IssueCreatePage.vue
  frontend/src/view/scrum/list/IssueListPage.vue
  frontend/src/view/scrum/list/component/IssueListComponent.vue
Labels: 💛frontend

#435 [Refactor] chatbot page 추가
  frontend/src/layouts/AppHeader.vue
  frontend/src/router/index.js
  frontend/src/view/chat/component/FileList.vue
  frontend/src/view/chatbot/ChatBotPage.vue
  frontend/src/view/chatbot/ChatMessage.vue
  frontend/src/view/chatbot/component/ChatBotComponent.vue
Labels: 💛frontend

#437 [Refactor] workspaceId setting 수정
  frontend/src/assets/icon/menu/chatbot.svg
  frontend/src/layouts/AppHeader.vue
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/router/index.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/utils/timeUtils.js
Labels: 💛frontend

#440 [Refactor] chatbot url 재수정
  frontend/src/layouts/AppHeader.vue
  frontend/src/router/index.js
Labels: 💛frontend, ⛓️‍💥refactor

#441 [Refactor] alarmUtils.js 수정
  frontend/src/utils/alarmUtils.js
Labels: 💛frontend, ⛓️‍💥refactor

#442 [Refactor] CHATBOT_001 - 챗봇 N8N 연결 및 경로 수정 [#432]
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotService.java
  backend/common/src/main/java/minionz/common/chat/chat_bot/model/ChatBot.java
  backend/common/src/main/java/minionz/common/user/model/User.java
Labels: 💙backend, ❤️‍🔥fix, ⛓️‍💥refactor

#443 [Refactor] alarm 코드 main.js로 수정
  frontend/src/App.vue
  frontend/src/assets/icon/menu/chatbot.svg
  frontend/src/layouts/component/modal/WorkspaceModal.vue
  frontend/src/main.js
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/view/dashboard/WorkspaceDashBoardPage.vue
  frontend/src/view/schedule/monthly/component/MonthlyComponent.vue
Labels: 💛frontend, ⛓️‍💥refactor

#444 [Fix] 조건부 수정
  frontend/src/view/scrum/create/WorkSpaceCreatePage.vue
Labels: 💙backend, 💛frontend

#445 [Refactor] Persona 반환 수정
  backend/api-server/src/main/java/minionz/apiserver/search/SearchService.java
  backend/common/src/main/java/minionz/common/search/SearchRepository.java
  backend/common/src/main/java/minionz/common/user/UserRepository.java
Labels: ⛓️‍💥refactor

#446 [Refactor] Persona 반환 수정
  backend/api-server/src/main/java/minionz/apiserver/search/SearchService.java
Labels: ⛓️‍💥refactor

#447 [Feat] 챗봇 프론트 화면 구성
  frontend/src/layouts/AppHeader.vue
  frontend/src/router/index.js
  frontend/src/stores/chatbot/useChatBotStore.js
  frontend/src/view/chat/component/ChatRoomComponent.vue
  frontend/src/view/chatbot/ChatBotPage.vue
  frontend/src/view/chatbot/ChatMessage.vue
Labels: 💛frontend, ✨feat

#448 [Fix] CHATBOT_001 - n8n응답 json 매핑 [#371]
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotController.java
Labels: 💙backend, ❤️‍🔥fix

#450 [Feat] chatbot.svg 2장 생성
  frontend/src/assets/icon/menu/chatbot.svg
  frontend/src/assets/icon/persona/chatbot.svg
Labels: 💛frontend

#452 [Feat] CHATBOT_002 - 챗봇 채팅 내역 조회 기능 [#449]
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotController.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/model/response/ReadChatBotResponse.java
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/common/src/main/java/minionz/common/chat/chat_bot/ChatBotRepository.java
Labels: 💙backend, ✨feat

#451 [Refactor] 챗봇 대화 이미지 수정 및 대화 엔터 적용
  frontend/src/view/chatbot/ChatMessage.vue
Labels: 💛frontend, ⛓️‍💥refactor

#453 [Fix] 엔티티 타입 수정 및 반환값 타입 수정
  backend/api-server/src/main/java/minionz/apiserver/scrum/label/model/request/CreateLabelRequest.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/label/model/request/CreateMeetingLabelRequest.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/label/model/response/ReadLabelResponse.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/label/model/response/ReadMeetingLabelResponse.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/sprint/model/response/Label.java
  backend/common/src/main/java/minionz/common/board/error_board/model/ErrorBoard.java
  backend/common/src/main/java/minionz/common/board/error_comment/model/ErrorComment.java
  backend/common/src/main/java/minionz/common/board/qa_board/model/QaBoard.java
  backend/common/src/main/java/minionz/common/board/qa_comment/model/QaComment.java
  backend/common/src/main/java/minionz/common/chat/message/model/Message.java
  backend/common/src/main/java/minionz/common/note/model/Note.java
  backend/common/src/main/java/minionz/common/scrum/label/model/NoteLabel.java
  backend/common/src/main/java/minionz/common/scrum/label/model/SprintLabel.java
  backend/common/src/main/java/minionz/common/scrum/label/model/TaskLabel.java
  backend/common/src/main/java/minionz/common/scrum/meeting/model/Meeting.java
  backend/common/src/main/java/minionz/common/scrum/task/model/Task.java
Labels: 💙backend, ❤️‍🔥fix

#457 [Refactor] 로그인 로직 수정
  frontend/src/stores/user/useUserStore.js
  frontend/src/view/user/pages/LoginPage.vue
Labels: ⛓️‍💥refactor

#458 [Feat] Logout 기능 추가
  backend/api-server/src/main/java/minionz/apiserver/config/SecurityConfig.java
  backend/api-server/src/main/java/minionz/apiserver/config/filter/CustomLogoutHandler.java
Labels: 💙backend, ✨feat

#459 [Refactor] 로그아웃 경로 수정
  frontend/src/layouts/SideBar.vue
Labels: ⛓️‍💥refactor

#456 [Feat] 스프링 배치 크론잡 및 Blue-Green 무중단 배포 설정 초기 구현
  backend/batch/Dockerfile
  cicd/Jenkinsfile-batch
  cicd/k8s-batch.yml
Labels: 💙backend, 🔍ci/cd, 💦K8S

#460 [Refactor] Logout URL 수정
  backend/api-server/src/main/java/minionz/apiserver/config/SecurityConfig.java
Labels: ⛓️‍💥refactor

#461 [Fix] 토큰의 role 생성 수정
  backend/api-server/src/main/java/minionz/apiserver/config/SecurityConfig.java
  backend/api-server/src/main/java/minionz/apiserver/user/model/CustomSecurityUserDetails.java
Labels: bug, 💙backend, ❤️‍🔥fix

#462 [Refactor] 알림 요청 시간 수정
  frontend/src/main.js
Labels: ⛓️‍💥refactor

#463 [Fix] 채팅방 리스트 기능 수정
  frontend/src/main.js
  frontend/src/view/chat/ChatInitialPage.vue
  frontend/src/view/chat/component/ChatComponent.vue
  frontend/src/view/chat/component/ChatRoomList.vue
Labels: 💛frontend, ❤️‍🔥fix

#464 [Feat] QueryDSL 로 리팩토링 및 회의 목록 조회 에러 수정
  backend/api-server/src/main/java/minionz/apiserver/ApiServerApplication.java
  backend/api-server/src/main/java/minionz/apiserver/board/error_board/ErrorBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/board/qa_board/QaBoardService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/dashboard/DashboardService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/issue/IssueService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/meeting/MeetingController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/meeting/MeetingService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/schedule/ScheduleService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/sprint/SprintService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskService.java
  backend/batch/src/main/java/minionz/batch/config/SprintReminderBatchConfig.java
  backend/batch/src/main/java/minionz/batch/config/TaskReminderBatchConfig.java
  backend/common/build.gradle
  backend/common/src/main/java/minionz/common/config/QuerydslConfig.java
  backend/common/src/main/java/minionz/common/scrum/issue/repository/IssueRepository.java
  backend/common/src/main/java/minionz/common/scrum/issue/repository/IssueRepositoryCustom.java
  backend/common/src/main/java/minionz/common/scrum/issue/repository/IssueRepositoryCustomImpl.java
  backend/common/src/main/java/minionz/common/scrum/meeting/MeetingRepository.java
  backend/common/src/main/java/minionz/common/scrum/sprint/SprintRepository.java
  backend/common/src/main/java/minionz/common/scrum/sprint/repository/SprintRepository.java
  backend/common/src/main/java/minionz/common/scrum/sprint/repository/SprintRepositoryCustom.java
  backend/common/src/main/java/minionz/common/scrum/sprint/repository/SprintRepositoryCustomImpl.java
  backend/common/src/main/java/minionz/common/scrum/task/TaskRepository.java
  backend/common/src/main/java/minionz/common/scrum/task/model/Task.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepository.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepositoryCustom.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepositoryCustomImpl.java
Labels: 💙backend, ✨feat, ❤️‍🔥fix

#465 [Refactor] ALARM_003 - 리마인더 알람 조회 수정 [#267]
  backend/api-server/src/main/resources/data.sql
  backend/batch/src/main/java/minionz/batch/config/SprintReminderBatchConfig.java
  backend/batch/src/main/java/minionz/batch/config/TaskReminderBatchConfig.java
  cicd/k8s-batch.yml
Labels: 💙backend, ✨feat, ⛓️‍💥refactor

#466 [Fix] 채팅방 생성 받는 값 변경
  frontend/src/stores/chat/useChatRoomStore.js
  frontend/src/view/chat/component/FriendsModal.vue
Labels: 💛frontend, ❤️‍🔥fix

#468 [Refactor] 사이드바 수정
  frontend/src/layouts/SideBar.vue
  frontend/src/stores/workspace/useWorkspaceStore.js
  frontend/src/view/dashboard/component/TaskOverview.vue
  frontend/src/view/dashboard/component/WorkspaceTaskOverview.vue
Labels: 💛frontend, ❤️‍🔥fix, ⛓️‍💥refactor

#470 [Fix] 유저 관련 받아오는 값 오류 해결
  frontend/src/stores/user/useUserStore.js
Labels: 🌹bug, 💛frontend, ❤️‍🔥fix

#471 [Refactor] SSE 연결 경로 수정
  frontend/src/main.js
Labels: ⛓️‍💥refactor

#472 [Refactor] batch cicd 수정
  cicd/Jenkinsfile-batch
  cicd/k8s-batch.yml
Labels: 💙backend, 🔍ci/cd

#474 [Fix] 사용하지 않는 변수 제거
  frontend/src/view/board/create/QACreatePage.vue
Labels: 🌹bug, 💛frontend

#475 [Fix] 누락된 엔터티 속성 추가
  backend/common/src/main/java/minionz/common/note/model/Note.java
Labels: 🌹bug, 💙backend, ❤️‍🔥fix

#477 [Fix] 누락된 엔터티 속성 추가
  backend/common/src/main/java/minionz/common/note/model/Note.java
Labels: 🌹bug, 💙backend, ❤️‍🔥fix

#478 [Refactor] 채팅 파일 중복 반환 수정
  frontend/src/stores/chat/useChatMessageStore.js
  frontend/src/view/chat/component/ChatMessage.vue
  frontend/src/view/chat/component/ChatRoomComponent.vue
Labels: 💛frontend, ⛓️‍💥refactor

#479 [Fix] 채팅방 생성 이름 변경 수정 및 챗봇 배포 환경 url 변경
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotService.java
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_room/ChatRoomService.java
Labels: 💙backend, ❤️‍🔥fix

#480 [Fix] 태스크 및 이슈 에러 관련 해결
  frontend/src/view/scrum/Task/kanban/WorkSpaceTaskKanbanPage.vue
  frontend/src/view/scrum/Task/kanban/component/KanbanCard.vue
  frontend/src/view/scrum/meeting/MeetingDetailPage.vue
  frontend/src/view/scrum/meeting/MeetingListPage.vue
  frontend/src/view/scrum/meeting/component/MeetingCard.vue
Labels: 💛frontend, ⛓️‍💥refactor

#481 [Fix] 잘못된 데이터 호출 수정
  frontend/src/view/scrum/Task/kanban/component/KanbanCard.vue
Labels: 🌹bug, 💛frontend, ❤️‍🔥fix

#482 [Fix] 챗봇 N8N url 환경 변수 처리
  backend/api-server/src/main/java/minionz/apiserver/chat/chat_bot/ChatBotService.java
  backend/api-server/src/main/resources/application.yml
Labels: 💙backend, ❤️‍🔥fix

#483 [Fix] workspaceId undefined 문제 해결
  frontend/src/view/schedule/monthly/WorkSpaceMonthlyPage.vue
Labels: 💛frontend, ❤️‍🔥fix

#484 [Fix] K8S, Dockerfile 챗봇 환경 변수처리
  backend/api-server/Dockerfile
  cicd/k8s-backend.yml
Labels: ❤️‍🔥fix, 🔍ci/cd

#485 [Refactor]
  backend/api-server/src/main/java/minionz/apiserver/scrum/meeting/MeetingService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/meeting/model/response/ReadMeetingResponse.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskController.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/task/TaskService.java
  backend/api-server/src/main/java/minionz/apiserver/scrum/workspace/WorkspaceController.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepository.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepositoryCustom.java
  backend/common/src/main/java/minionz/common/scrum/task/repository/TaskRepositoryCustomImpl.java
Labels: 💙backend, ✨feat, ⛓️‍💥refactor

#486 [Feat] redis 도입으로 공동 편집 성능 개선
  backend/api-server/Dockerfile
  backend/api-server/src/main/java/minionz/apiserver/common/responses/BaseResponseStatus.java
  backend/api-server/src/main/java/minionz/apiserver/config/web/WebSocketConfig.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteContentController.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteController.java
  backend/api-server/src/main/java/minionz/apiserver/note/NoteService.java
  backend/api-server/src/main/java/minionz/apiserver/note/model/response/GetNoteAllResponse.java
  backend/api-server/src/main/java/minionz/apiserver/note/model/response/GetNoteResponse.java
  backend/api-server/src/main/resources/application.yml
  backend/common/src/main/java/minionz/common/note/model/CursorMessage.java
  backend/common/src/main/java/minionz/common/note/model/CursorPosition.java
  backend/common/src/main/java/minionz/common/note/model/Note.java
  backend/common/src/main/java/minionz/common/note/model/NoteMessage.java
  cicd/k8s-backend.yml
  cicd/k8s-redis.yml
Labels: 💙backend, ✨feat, ⛓️‍💥refactor
